


header, section, footer {
	float: left;
	width: 100%;
}

/* ------ Header ----- */



/* ------ Login Container ----- */

.not-logged-in.page-user #page-wrap {
    background: white none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    float: left;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    width: 100%;
}
section#post-content {

	float: none;
	background-color: #fff;
	box-shadow: 3px 4px 3px -4px #5a5a5a;
	width: 968px;
	margin: 0 auto;
	
}
.login-container, .region-content {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px -4px #5a5a5a;
	-moz-box-shadow: 0 0 6px -4px #5a5a5a;
	-webkit-box-shadow: 0 0 13px -5px #5a5a5a;
    float: left;
    margin-bottom: 57px;
    margin-left: 0;
    margin-top: 58px;
    width: 100%;
    border-radius: 3px;
}

#block-system-main {  
	
  top: 25px;
  color: #eb3534;
  z-index: -1;
}
#block-block-8
{
	float:left;
	width: 344px;
	margin-left: 0;
}
.region-content .block-block {
	float: left;
	width: 364px;
    margin-bottom:10px;
}
.region-content .block-user {
	width: 33%;
	margin-left: 1%;
}
#block-user-login, .sign-in.row {
    float: left;
    margin-left: 20px;
    margin-top: 3px;
    width: 346px;
}

#block-user-login h2{
	display:none;
}
.page-otp-authentication #block-user-login , .page-otp-authentication .social-login{
	display:none;
}

.page-user-reset .item-list .first{
	 pointer-events: none;
   cursor: default;
}
.page-change-password #block-user-login , .page-change-password  .social-login, .page-user-reset .social-login{
	display:none;
}

form#user-login, form#user-login-form
{
	float:left;
	width: 100%;
	margin: 0;
}
form#user-login > div, form#user-login-form > div {
	position: relative;
}

.block-title{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

.block {
	margin: 0;
	padding: 0;
}
.main-container > section {
	width: 947px;
	margin: 0 auto;
	float: left;
	margin-left: 2%;
}
.main-container {
	width: 100%;
	padding: 0;
}
#block-views-slideshow-block .views-field-title {
	display:none;
}

#block-views-slideshow-block .views-content-counter
{

	float:left;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 19px;
    margin-top: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000/9;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
   
}


#block-views-slideshow-block .active .views-content-counter
{
	width: 8px;
    height: 8px;
    margin-right: 19px;
    background-color: rgba(255,255,255,1);
	
	
}
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame .field-content img{
	width:600px !important;
	height:386px !important;
}
#block-views-slideshow-block>h2{
	display:none;
}
#block-views-slideshow-block{
	width:600px;
	float:left;
	border-right: 1px solid #e1e9ee;
}
.views-field-counter .field-content{
	display:none;
}
.skin-default  {
	position:relative;
}
#block-views-slideshow-block .views-slideshow-controls-bottom{
    left: 0;
    position: absolute;
    top: 350px;
    width: 100%;
    z-index: 98;
}
#views_slideshow_cycle_main_slideshow-block{
	z-index:99;
}

.carousel-caption {
	position: absolute;
	bottom: 7px;
	left: 45px;
}
.carousel-caption h3, .carousel-caption p {
	text-align: left;
	text-shadow: none;
	font-size: 30px;
	color: #ffffff;
}
.carousel-caption h3 {
	font-weight: 300;
	margin-bottom: -8px;
}
.carousel-caption p {
	font-weight: bold;
}
.social-login {
    border-bottom: 1px solid #e1e9ee;
    float: left;
    height: auto;
    margin-bottom: 16px;
    margin-left: 5%;
    min-height: 100px;
    padding: 11px 0 0;
    width: 89%;
}
.social-login h4 {
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 20px;
    text-transform: uppercase;
}
.social-login ul {
    margin: 0 auto;
    padding: 0;
    width: 186px;
}
.social-login ul li {
    float: left;
    list-style: outside none none;
    margin: 0 6px 4px;
}
.social-login ul li a {
    text-decoration: none;
}
.social-login ul li a img {
    height: auto;
    width: auto;
}
.social-login p {
    float: left;
    margin-bottom: -10px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}
.social-login p span {
    background-color: white;
    padding: 0 9px ;
	text-align: center;
}
.sign-in {
	width: 100%;
	float: left;
	height: auto;
}
.sign-in form div {
	position: relative;
}
.sign-in form div .error {
	position: absolute;
	bottom: -12px;
	left: 47px;
	color: #FC6C6C;
	display: none;
}
.sign-in .input-group {
	margin-top: 10px;
}
.sign-in input[type="text"], .sign-in input[type="password"] {
    background-repeat: no-repeat;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
	background-color: transparent;
    box-shadow: none;
    color: #555555;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    padding: 5px 0;
    text-indent: 40px;
	-webkit-appearance: none;
	outline: none;
	height: 39px;
}
.sign-in input[type="text"] {
    background-image: url("../images/icons/ic_email.png");
    background-position: left 11px;
    background-size: 20px auto;
    border-bottom: 1px solid #e1e9ee !important;
    width: 92%;
	outline: none;
}
.agency-logo {
	width: 91px;
	height: 40px;
	position: absolute;
	right: 19px;
	top: 0;
	display: none;
}
.agency-logo img {
	width: 100%;
	height: auto;
}
.sign-in input[type="password"] {
    background-image: url("../images/icons/ic_password.png");
    background-position: left 6px;
    background-size: 16px auto;
    border-bottom: 1px solid #e1e9ee !important;
    width: 92%;
	font-size: 24px;
    letter-spacing: 7px;
	-webkit-text-security: disc;
}
.sign-in input[type="password"]::-webkit-input-placeholder {
	font-size: 15px;
	letter-spacing: 0;
	font-weight: 400;
}
.sign-in input[type="password"]::-webkit-input {
	font-size: 65px;
}
.sign-in input[type="password"]::-moz-placeholder { /* Firefox 19+ */
	font-size: 15px;
	letter-spacing: 0;
	font-weight: 400;
}
.sign-in input[type="password"]:-ms-input-placeholder { /* IE 10+ */
	font-size: 15px;
	letter-spacing: 0;
	font-weight: 400;
}
.sign-in input[type="password"]:-moz-placeholder { /* Firefox 18- */
	font-size: 15px;
	letter-spacing: 0;
	font-weight: 400;
}
.sign-in input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0 0;
    float: left;
}
/* SQUARED TWO */
.form-type-checkbox {
	width: 28px;
	height: 28px;
	background: #fff;
	position: relative;
}

.form-type-checkbox label {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 17px;
    left: -4px;
    line-height: 13px;
    position: absolute;
    text-indent: 23px;
    top: 4px;
    width: 17px;
}

.form-type-checkbox label:after {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #ffffff #ffffff;
	border-color: #ffffff;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 2px 2px;
    content: "";
    height: 7px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 2px;
    width: 13px;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.form-type-checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0;
}

.form-type-checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: #555555;
	box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill {
box-shadow: 0 0 0px 1000px white inset;
}
.form-required {
	display: none;
}
.form-control:focus {
	border-color: none;
	box-shadow:  none;
}
.forgot-password {
	color: #555555;
	font-style: italic;
}
.forgot-password:hover {
	color: #555555;
	text-decoration: none;
}
.button-holder {
	float: left;
	width: 100%;
	padding: 0;
	margin-left: -15px;
	border-top: 1px solid #f0f0f0;
}
.sign-in .custom-signin, #edit-customize {
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 15px;
    padding-bottom: 9px;
    padding-top: 14px;
    text-align: center;
    width: 170px;
    z-index: 11;
    display: none;
}
.sign-in  .custom-signin p {
    margin: 0;
    position: relative;
}
.sign-in .custom-signin p .custom-arrow, #edit-customize {
     background-color: #fff !important;
    background-image: url("../images/icons/ic_dropup.png");
    background-position: 112px 18px;
    background-repeat: no-repeat;
    background-size: 12px auto;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    margin: 19px 0 0;
    text-indent: -32px;
    transition: all 0.5s ease 0s;
}
.arrow-down {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.form-item, .form-actions {
	margin: 4px 0;
}
#edit-actions {
    float: left;
    margin: 1px 0 0 -20px;
    width: 366.5px;
}
.sign-in .login-button {
    background-color: #eb3534;
    background-image: linear-gradient(to bottom, #eb3534, #eb3534);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: 700;
    margin: 19px 0 0;
    padding: 16.5px;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%;
    z-index: 11;
}
.form-submit {
	margin: 0;
}
.sign-in .next-button{
	float:none;
    margin: 0%;
    width: 318px;
    border-radius: 3px;
    margin-left: 20px;
}

/* Reset password */
#custom-otp-authentication-form, #change-password-form, #user-pass {
	position: relative;
}
#custom-otp-authentication-form h4, #change-password-form h4 {
	font-size: 15px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 43px;
    text-align: center;
    text-transform: uppercase;
}
#change-password-form h4 {
    margin-bottom: 47px;
}
#custom-otp-authentication-form p {
	font-size: 12px;
    font-weight: 300;
    margin-top: 8px;
    text-align: center;
    color: #ccc;
    margin-bottom: 43px;
}
#custom-otp-authentication-form .last {
	font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    color: #555555;
    margin-left:-12px;
    margin-bottom: 23px;
}
#custom-otp-authentication-form .item-list .first, #change-password-form .item-list, #user-pass .item-list .first {
	bottom: -32px;
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    width: 235px;
    left: 30%;
}
#custom-otp-authentication-form .item-list ul {
	padding: 0;
}
#custom-otp-authentication-form .item-list ul {
}
#custom-otp-authentication-form .item-list a, #change-password-form .item-list a, #user-pass .item-list a {
	color: #555;
	text-align: center;
	text-decoration: none;
}
 #custom-otp-authentication-form.sign-in input[type="text"] {
	background-image: url("../images/icons/ic_password.png");
	background-position: left 6px;
    background-size: 16px auto;
}
label[for=edit-name]
{
   margin-left:75px;
   margin-bottom:10px;
}
 #user-pass label[for="edit-name"] {
	 margin-bottom:14px;
	 color: #555555;
}
.custom-drop {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    box-shadow: 3px 4px 3px -4px #5a5a5a;
    display: none;
    left: 0;
    position: absolute !important;
    top: 100%;
    width: 100%;
    z-index: 10;
}

.custom-drop p {
	text-align: center;
	margin-top: 10px;
}
.custom-drop .form-group {
    float: left;
    margin: 10px 2% 6px;
    width: 46%;
}
.custom-drop .form-group label {
    float: left;
    width: 35%;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.custom-drop .form-group select {
    width: 63%;
    background-color: white;
    border: 1px solid #cccccc;
    width: 106px;
	height: 27px;
}
.custom-drop .form-group select {
	line-height: 0;
	font-size: 12px;
}
/* ------ Login Container Ends Here ----- */


/* -------- Dashboard ------- */
.front #page-wrap {
    margin-bottom: 0;
    top: 0;
}
.front #page-wrap{
	
	position:relative;
	float:left;
	margin:0;
	width:100%;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    position: relative;
    z-index: 9;
}
#container {
    clear: both;
    overflow: unset;
    padding: 0;
}
.container-wrap {
    margin: 0 auto;
    max-width: 100%;
    overflow: unset;
}
.sign-in .item-list:after {
		clear:both;
}


.page-title
{
	display:none;
}


#user-login-form .item-list li.first {
    color: #555555;
    float: left;
    font-size: 13px;
    font-style: italic;
    margin-left: 2px;
    margin-top: 7px;
    text-indent: 34px;
    width: 50%; 
}
#user-login-form .item-list li.first a {
	color: #555555;
}
.form-item-remember-me{
	float:left;	
	width: 49%;
	
}

#content{
	height: auto;
	position: relative;
	background-color: transparent;
	padding:0;
	margin: 0;
	width: 100%;
	background-image: url("../images/icons/ic_bg_img.png");
    background-position: center right;
    background-size: 1230px auto;
    background-repeat:  no-repeat;

} 

#post-content > .messages.error {
    display: none;
}

.messages.error.messages-inline {
    background-color: transparent;
    border: 0 none;
    color: #eb3534;
    float: left;
    font-size: 13px;
    margin: -18px 0 0 36px;
    padding: 0;
    position: absolute;
}
section .messages.status {
	background-color: transparent;
    border: medium none;
    color:  #eb3534;
    position: absolute;
    text-align: center;
    width: 75%;
    
}
.messages .status{
    border: none;
    margin-bottom: -40px;
    text-align: center;

}
.messages.error {
    text-align:center;
}

a:hover{
	 text-decoration: none !important;
}
.views-slideshow-controls-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 36px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    padding: 0 0 5px 10px; 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.45) 100%);  
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.45) 100%);  
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.45) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
}
.views-slideshow-pager-fields {
    margin-left: 30px;
    margin-top: 5px;
}

.content-sidebar-wrap #content {
    margin-bottom: 0;
    max-width: 100%;
    min-width: 900px;
}
#user-community-logo {
	width: auto;
    max-width: 100px;
    height: auto;
    max-height: 40px;
    display: none;
    position: absolute;
    right: 28px;
    top: -2px;
    padding: 3px 6px;
    background-color: #fff;
    border: 1px solid #e1e9ee;

}



.help-tip {
    position: absolute !important;
    right: 24px;
    top: 108px;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 50%;
    cursor: pointer;
}
.help-tip .help-tip-content {
    height: auto;
    position: absolute;
    right: 100%;
    top: -50%;
    width: 265px;
    z-index: 99;
    display: none;
    transition: all 0.5s ease 0s;
}
.help-tip .help-tip-content div {
       background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    color: #efefef;
    height: auto;
    min-height: 70px;
    padding: 5px 10px;
    top: -50%;
    width: 254px;
    float: left;
    font-size: 13px;
    position: relative;
    box-shadow: 8px 8px 8px -5px #8a8a8a;
}
.help-tip .help-tip-content div span {
   background-image: url("../images/icons/arrow-right.png");
   background-position: 5px 30%;
   background-repeat: no-repeat;
   background-size: 7px auto;
   height: 100%;
   position: absolute;
   right: -15px;
   width: 20px;
}
.help-tip:hover > .help-tip-content {
    display: block;
}
#block-system-main > .content{
	margin-top: -40px;
}
.footer-menu {
	margin: 15px 0 15px;
}
.not-logged-in {}