/* ------ Responsive ----- */

@media screen and (max-width: 980px) {
	.section-container {
		min-width: 100%;	
	}
	section#post-content {
		width: 602px;
	}
	section#post-content > div {
		width: 100%;
		float: left;
		clear: both;
	}
	.brand-logo {
	   margin: 20px auto 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.content-sidebar-wrap #content {
		min-width: 100%;
	}
	.region-content .block-block {
		width: 100%;	
	}
	#block-user-login, .sign-in.row {
		margin-left: 0;
		width: 100%;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		margin-left: 5%;
		width: 89%;
	}
	.form-item-remember-me {
	    margin-left: 5%;
	    width: 44%;
	}
	#user-login-form .item-list li.first {
		width: 46%;	
	}
	#edit-actions {
		width: 100%;
		margin: 1px 0 0 0px		
	}
	.social-login .my-tooltip {
	   left: 28%;
	 }
	.footer_credit {
		min-width: 100%;
	}
	.sign-in .next-button {
		margin: 0 4% 20px;
		width: 92%;
	}
	#custom-otp-authentication-form .item-list .first, #change-password-form .item-list, #user-pass .item-list .first {
		width: 100%;
		left: 0;
		text-align: center;
		bottom: -30px;
	}
	#custom-otp-authentication-form .last {
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 624px) {
	#content {
		min-height: 200px;
	}
	#page-wrap {
		min-height: 350px;
	}
	#custom-otp-authentication-form h4, #change-password-form h4 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	#custom-otp-authentication-form p {
		margin-bottom: 20px;
		margin-top: 8px;
	}
	#custom-otp-authentication-form .item-list a, #change-password-form .item-list a, #user-pass .item-list a {
		margin: 0 0 0 15px;
	}
	#custom-otp-authentication-form .last {
		margin-bottom: 15px;
	}
	.page-otp-authentication .region-content {
			margin-top: 20px;
	}
	#custom-otp-authentication-form .item-list .first, #change-password-form .item-list, #user-pass .item-list .first {
		bottom: -40px;
	}
	#user-pass label[for="edit-name"] {
		margin: 0 0 14px;
		text-align: center;
		width: 100%;
	}
	header {
		height: 80px;
	}
	.col-md-10.col-centered {
		width: 100%;
	}
	section#post-content {
		width: 94%;
	}
	
	#block-views-slideshow-block {
		float: left;
		width: 100%;
	}	
	.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame .field-content img {
		width: 100% !important;	
	}
	.sign-in .next-button {
		margin: 0 3% 11px;
		width: 94%;
	}
	
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		float: left;
		margin: 20px auto;
		width: 100%;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
		width: 100%;
		float: left;
	}
	.footer-menu ul li {
		width: 100%;
		text-align: center;
	}
	.footer-menu ul li a {
		border: none;
	}
}
@media screen and (max-width: 480px) {
	#block-views-slideshow-block, .social-login {
		display: none;
	}
	.login-container, .region-content {
		margin-top: 65px;
		margin-bottom: 45px;
	}
	.form-type-checkbox label {
		width: 18px;
	}
}
@media screen and (max-width: 450px) {
	.carousel {
		display: none;
	}
}
@media screen and (max-width: 360px) {
	.form-item-remember-me {
		width: 45%;
	}
	#user-login-form .item-list li.first {
		padding: 0;
		margin: 6px 0 0 0;
		text-indent: 0;
		width: 45%;
		text-align: right;
	}
	.sign-in input[type="checkbox"] {
		margin: 4px 0 0 2px;
	}
}
@media screen and (max-width: 310px) {
	.form-item-remember-me {
		width: 42%;
	}
	#user-login-form .item-list li.first {
		width: 42%;
	}
	header, .region-content, #footer, footer, .footer {
		width: 300px;
	}
	.form-item-remember-me {
		width: 100%;
	}
	.sign-in input[type="checkbox"] {
		margin: 3px 0 0 2px;
	}
}