@media screen and (max-width: 1152px) {

}

@media screen and (max-width: 960px) {
  
  #top-area .column,
  #footer-area .column{
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
  }

  #footer,
  #page-wrap{
    padding: 0 15px;
  }

  #page-wrap {
  	box-shadow: none;
  	border: 0;
  }

  .top_right .region-search{ float: none; }

  .social-icons,
  .footer_credit .copyright{
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .region-search{
    margin: 10px auto;
    width: 200px;
    float: none;
    clear: both;
  }

  .nivo-caption {
  	display: none !important;
  }

  .front #page-wrap{
  	top: 0;
  	box-shadow: none;
  }

  .theme-default .nivo-controlNav {
  	bottom: 10px;
  }

}

@media screen and (max-width: 640px) {

  #logo,
  #site-title{
    display: inline-block;
    text-align: center;
    float: none;
    vertical-align: top;
  }

  .menu-wrap{  
    background: #333;
    overflow: hidden;
  }

  #main-menu ul {
    display: none;
  }

  #main-menu li ul {
    position: static;
    border: 0;
  }

  #main-menu li ul ul {
    margin: 0 !important;
    border: 0;
  }

  #main-menu ul,
  #main-menu li {
    float: none;
    width: 100%;
  }

  #main-menu {
    border: 0;
    float: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
  }

  #main-menu a {
    width: 100%;
    padding: 15px 0;
    color: #fff;
    border-radius: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #181818;
  }

  #main-menu li li a {
    text-align: center;
    font-size: 13px;
    background: #0D0D0D;
    border-bottom: 1px solid #1B1B1B;
    color: #989898;
    padding: 15px 0;
  }

  #main-menu li a.active{
    border-bottom: 1px solid #181818; 
  }

  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display: none;
  }

  .drop-down-toggle {
    display: block;
  }

  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: normal;
    background: #18222B;
    color: white;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
    background: url(../images/mobile-menu.png) right 14px #18222B no-repeat;
    padding: 15px;
    width: 50px;
    font-size: 0;
    height: 45px;  
  }

  #main-menu li li.expanded > a {
    background: none;
  }

  #main-menu ul.menu li {
    margin: 0;
    width: 100%;
  }

  #header{
  	margin-top: 45px;
  	padding: 5px 10px;
  }

  #top-area .column img,
  #footer-area .column img{
  	width: 100%;
  }

  .top_right .region-user-menu ul.menu{
  	float: none;
  	text-align: center;
  }

  .top_left, .top_right{
    float: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .page-gallery .region-content .view-gallery .views-row{
  	width: 50%;
  }

}

@media screen and (max-width: 440px) {

}