html body {
 	font-family: 'Source Sans Pro', sans-serif !important;
 	float: left;
 	position: relative;
 	height: auto;
 	width: 100%;
	background-color: #ccc;
 }
 body.login-page {
 	background-image: url("../images/icons/ic_bg_img.png");
 	background-position: center center;
 	background-size: 100% auto;
 }
 .col-centered {
 	margin: 0 auto;
 	float: none;
 }
 .full-width{
    width:100%;
 }
 .footer_credit {
 	background-color: #fff;
 }
 
 /* Skin */
 .brand-color {
	 background-color: #eb3534;
	 background: #eb3534;
 }
 .white-bg {
	 background-color: #ffffff;
 }
 .black-bg {
	 background-color: #666666;
 }
 a {
 	color: #eb3534;
 }
 a:hover {
 	text-decoration: none;
 }
 
 /* ------ Header ----- */
 .brand-logo {
 	float: left;
 	margin: 20px 0 20px 0;
 	padding-left: 30px;
 }
 
 .social-login .tooltip span {
 	background-color: #FFEC94;
 	border: 1px solid #eb3534;
 	display: block !important;
 }
 
 /* Layouts */
 .section-container > .inner-container{
	background-color: #ffffff;
 }
  #content {
 	height: auto;
 	min-height: 350px;
 	position: relative;
 	background-color: #ffffff;
 	
 }
 .dash-contents {
 	position: relative;
 	width: 100%;
 }
 .contents-dash {
 	width: 73%;
 	height: auto;
 	min-height: 300px;
 }
 .page-settings .contents-dash {
	width: 100%;
 }
 .aside-dash {
 	width: 27%;
 	height: auto;
 }
  .page-settings .aside-dash {
	  display: none;
  }
 
 /* Resets */
 ul {
	 margin: 0;
	 padding: 0;
 }
 li {
	 list-style: none;
 }
 
 /* ------ Login Container ----- */
 #first-time, .page-header {
 	display: none;
 }
.margin-15 {
	 margin-left: 15px;
 }
 .block-title {
 	font-family: 'Source Sans Pro', sans-serif;
 	text-align: center;
 }
 
 .main-container>section {
 	width: 947px;
 	margin: 0 auto;
 	float: left;
 	margin-left: 2%;
 }
 
 .main-container {
 	width: 100%;
 	padding: 0;
 }
 
 .agency-logo {
 	width: 91px;
 	height: 40px;
 	position: absolute;
 	right: 19px;
 	top: 0;
 	display: none;
 }
 
 .agency-logo img {
 	width: 100%;
 	height: auto;
 }
 /* ------ Login Container Ends Here ----- */
 
 /* -------- Dashboard ------- */
 #page-wrap {
 	margin-bottom: 0 !important;
 	top: 0;
 }
 
 #page-wrap {
 	position: relative;
 	float: left;
 	width: 100%;
 	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 	border: medium none;
 	border-radius: 0;
 	box-shadow: none;
 	margin: 0 auto;
 	max-width: 100%;
 	padding: 0;
 	z-index: 9;
 	min-height: 420px;
 }
 
 #container {
 	clear: both;
 	overflow: hidden;
 	padding: 0;
 }
 .container {
     padding: 0 30px !important;
     width: 100% !important;
 }
 .content-sidebar-wrap #content {
 	margin-bottom: 0;
 	/* max-width: 1197px; */
	z-index: 11;
 }
 .container-wrap {
 	margin: 0 auto;
 	max-width: 100%;
 	overflow: unset;
 }
 .header, .section {
 	width: 100%;
 	float: left;
 	position: relative;
 	
 }
 .section {
     z-index: 90;
 }
 .footer {
 	margin: 0 auto;
 	float: none;
 	max-width: 1400px;
 	min-width: 1024px;
 	width: 100%;
 	
 }
 .section-container {
 	position: relative;
 	margin: 0 auto;
 	float: none;
 	max-width: 1400px;
 	min-width: 1024px;
 	width: 100%;
 	
 }
 .inner-container {
 	width: 100%;
 	float: left;
 	position: relative;
 }
 
 .popup-container ,.popup-container_browse_report {
 	background-color: rgba(0, 0, 0, 0.5);
 	display: none;
 	height: 100%;
 	left: 0;
 	position: absolute;
/* 	transition: all 0.5s ease 0s; */
 	width: 100%;
 	top: -5px;
 	z-index: 99;
 }

 .popup-container_browse_report .popup-tab {
  margin:150px auto;
 }
 
 /* Message tab */
 .message-tab {
 	position: absolute;
 	width: 375px;
 	height: auto;
 	right: 100px;
 	top: 0;
 	background-color: #fff;
 	display: none;
 }
 
 .message-header {
 	background-color: #E3E3E3;
 	float: left;
 	height: 54px;
 	width: 100%;
 }
 
 .message-header p {
 	color: #eb3534;
 	float: left;
 	font-size: 13px;
 	font-weight: 600;
 	margin-left: 22px;
 	margin-top: 19px;
 }
 
 .message-header span {
 	background-image: url("../images/icons/ic_settings-1.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	float: right;
 	height: 22px;
 	margin-right: 27px;
 	margin-top: 16px;
 	width: 23px;
 }
 
 .message-body, .notify-body {
 	width: 100%;
 	float: left;
 	height: auto;
 	padding: 0 10px;
 	overflow-y: auto;
 }
 
 .message-content,  .notify-content {
 	width: 100%;
 	border-bottom: 1px solid #ccc;
 	float: left;
 }
 .notify-content {
	 position: relative;
 }
 
 .message-icon, .notify-icon{
 	width: 20%;
 	float: left;
 }
 
 .message-icon img , .notify-icon img{
 	border-radius: 50%;
 	float: left;
 	height: 44px;
 	margin-left: 11px;
 	margin-top: 10px;
 	width: 44px;
 }
 
 .message-subject, .notify-subject {
 	float: left;
 	width: 78%;
 }
 
 .message-subject h3 , .notify-subject h3{
 	color: #555555;
 	float: left;
 	font-size: 12px;
 	font-weight: 600;
 	margin: 11px 0 0;
 }
 
 .message-subject span {
 	font-weight: 400;
 	font-size: 12px;
 	color: #ccc;
 	float: right;
 	margin-top: 9px;
 	margin-right: 10px;
 }
 .notify-subject span {
	padding: 2px 6px;
 	color: #555555;
    font-size: 12px;
    font-weight: 400;
    right: 2px;
    top: 2px;
	background-color: #ebbe40;
	border-radius: 50%;
	position: absolute;
 }
 /*
 .message-subject span:after {
 	clear: both;
 }
 */
 .message-subject p ,  .notify-subject  p{
 	color: #555555;
 	float: left;
 	font-size: 12px;
 	line-height: 18px;
 	margin-top: 6px;
 	width: 100%;
 	margin-bottom: 0px;
 }
 
 .message-subject h5, .notify-subject h5 {
 	color: #9a9a9a;
 	float: left;
 	font-size: 11px;
 	font-style: italic;
 	font-weight: 300;
 	margin: 4px 0 13px;
 }
 .view-all {
	display: block;
    float: left;
    width: 100%;
    text-align: center;
 }
 .view-all a {
	padding: 10px;
    text-align: center;
    width: 100%;
    float: left;
	color: #eb3435;
 }
  .view-all a:hover{
	text-decoration: none;
	color: #eb3435;
 }
 
.page-notifications .region.region-content {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.notification-container {
	height: auto;
	min-height: 350px;
}
.page-notifications .contents-dash {
	width: 100%;
}
.page-notifications .aside-dash  {
	width: 100%;
	display: none;
}
.notify-content:last-child{
	border: none;
}
.notification-container .notify-subject span {
	top: 10px;
	right: 10px;
	
 }
.notification-container .notify-icon {
	width: 10%;
}
.notification-container .notify-icon img {
	margin-left: 17%;
	margin-top: 15px;
	margin-bottom: 0;
}
.notification-container .notify-subject {
	width: 88%;
	position: relative;
}
 .header {
 	background-color: #ffffff;
 	box-shadow: 0px 4px 4px -4px #8a8a8a;
	-moz-box-shadow: 0 3px 4px -4px #8a8a8a;
	-webkit-box-shadow: 0 7px 9px -9px #8a8a8a;
 	height: auto;
 	min-height: 85px;
 	width: 100%;
 	position: relative;
	z-index:99;
 }
 .header .inner-container {padding: 27px 0 21px 22px; }
 
 .browse-report-button {
 	background-color: #eb3534;
 	background-image: url("../images/icons/ic_browsere.png");
 	background-position: 11px 11px;
 	background-repeat: no-repeat;
 	color: #fff;
 	cursor: pointer;
 	display: block !important;
 	float: left;
 	font-size: 11.5px;
 	font-weight: 600;
 	padding: 8px 11px 8px 41px;
 }
 
 .header-right {
 	float: right;
 	margin-right: 20px;
 }
 
 .header-right ul li {
 	border-right: 1px solid #cdcdcd;
 	cursor: pointer;
 	float: right;
 	padding: 5px 20px;
 	position: relative;
 }
 
 .header-right ul li:first-child {
 	border-right: medium none;
     padding: 0 9px 0 20px;
 }
 .logoLi {
 	pointer-events: none;
 	cursor: default;
	min-height:32px;
	line-height:32px;
	margin-top: -7px;
	height: 44px;
	line-height: 44px;
 }
 .logoLi img {
	max-height: 100%;
	width: auto;
 }
 .header-right ul li.name-label {
 	    padding-right: 20px;
 }
 
 .header-right ul li.name-label p {
 	color: #656565;
 	float: left;
 	font-size: 12px;
 	font-weight: 600;
 	margin: 2px 0 0;
 	text-transform: uppercase;
 }
 
 .header-right ul li.name-label span {
 	background-image: url("../images/icons/ic_dropup.png");
 	background-position: 96% center;
 	background-repeat: no-repeat;
 	padding-left: 20px;
 }
 
.profile-tab {
 	background-color: #fff;
 	border: 1px solid #efefef;
 	box-shadow: 0 0 4px -2px #8a8a8a;
 	display: none;
 	height: 135px;
 	right: 0;
 	position: absolute;
 	top: 0;
 	width: auto;
    min-width: 120px;
    max-width: 191px;
 	z-index: 999;
 }
 
.profile-tab h3 {
 	border-bottom: 1px solid #efefef;
 	color: #019c9e;
 	float: left;
 	font-size: 12px;
 	font-weight: 400;
 	margin:0;
	padding-top: 10px;
 	padding-bottom: 9px;
 	text-indent: 14px;
 	width: 100%;
 	padding-left: 0;
 }
 .profile-tab h3:hover {background-color: #efefef;}
 .profile-tab h3.name-label {
 	text-transform: uppercase;
	padding-right: 40px;
 	position: relative;
	white-space: nowrap;
 }
 
.header-right ul li.name-label .profile-tab h3 span {
 	background-image: url("../images/icons/ic_dropdowen.png");
 	background-position: 96% center;
 	background-repeat: no-repeat;
 	padding-left: 20px;
 	margin-left: 30px;
 	position: absolute;
    top: 6px;
    right: 20px;
    width: 20px;
    height: 20px;
 }
 
.profile-tab h3 a {
 	color: #555555;
 	font-size: 13px;
 	display: block;
 }
 
.profile-tab h3 a:hover {
 	text-decoration: none;
 }
 
.profile-tab h3:last-child {
 	border-bottom: none;
 }
 
 .header-right ul li.message-notification {
 	
 }
 
 .header-right ul li.message-notification span  {
 	background-color: #ebbe40;
     background-image: none;
     border: medium none;
     border-radius: 50%;
     display: block;
     font-size: 11px;
     line-height: 1.25em;
     margin: auto;
     padding: 1px 5px 1px;
     position: absolute;
     right: 12px;
     top: 0;
     color: #555555;
 }
 
 .header-right ul li.bookmark {
 	
 }
 
 .sub-header {
 	float: left;
 	position: relative;
 	background-color: #ffffff;
 	width: 100%;
 	z-index: 92;
 	box-shadow: 0px 4px 4px -4px #8a8a8a;
	-moz-box-shadow: 0 3px 4px -4px #8a8a8a;
	-webkit-box-shadow: 0 7px 9px -9px #8a8a8a;
 	height: 66px;
 }
 
 .sub-header-fixed {
 	position: fixed;
 }
 
 .sub-header .sub-brand-logo {
 	float: left;
 	min-width: 203px;
	width: auto;
 	padding: 0 22px 5px 32px;
 	height: auto;
 	margin-top: 13px;
 	border-right: 1px solid #E3E3E3
 }
 
 .sub-brand-logo .page-icon {
 	float: left;
 	margin: 9px 11px 5px 0;
 	width: 21px;
 }
 .report-dashboard {
	 float: left;
	 display: none;
 }
  .page-dashboard .report-dashboard {
	 display: block;
  }
  .report_info {
	padding: 0 0 0 4%;
	margin: 10px 0;
	float: left;
}
  .report-chat {
	 position: fixed;
	 bottom: 60px;
	 right: 60px;
	 border-radius: 50%;
	 width: 64px;
	 height: 64px;
	 background-color: #595959;
	 background-image: url("../images/icons/add_comment.png");
 	background-position: 18px 19px;
 	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px 0px #7a7a7a;
	cursor: pointer;
	border: none;
  }
 .sub-brand-logo .less-than {
 	float: left;
 	font-size: 19px;
 	margin-top: 6px;
 	width: 7px;
 	color: #69708C;
 }
 .sub-brand-logo h2 {
	 float: left;
    font-size: 14px;
    margin: 14px 0 0 10px;
	color: #555555;
	max-width: 200px;
	text-transform: uppercase;
	font-weight: 600;
 }
 .sub-brand-logo .brand-icon {
 	float: left;
    height: 36px;
    line-height: 36px;
    margin: 2px 0 0 20px;
    max-width: 89px;
    width: auto;
 }

 .sub-brand-logo .brand-icon img {
    height: auto;
    max-height: 36px;
    max-width: 89px;
    width: auto;
}
 .filter-form {
 	width: 71%;
 	float: right;
 	margin-right: 20px;
 	margin-top: 21px;
 }
 .filter-form  ul {
	 margin: 0;
 }
 .filter-form form {
 	position: relative;
 }
 
 .filter-form ul li {
	float: right;
 	width: auto;
 	margin: 0 10px 0 16px;
 	color: #555;
 }
 
 .filter-form ul li label {
 	float: left;
 	padding-right: 10px;
 	margin-top: 3px;
 	font-size: 12.5px;
 	font-weight: 500;
 	margin-left: -6px;
 }
 
 .select-container {
 	border: 1px solid #cecece;
 	border-radius: 2px;
 	float: left;
 	height: 25px;
 	overflow: hidden;
 	padding: 0 0 1px 1px;
 	background-color: #fff;
 	width: 95px;
	background-image: url("../images/icons/ic_dropup.png");
 	background-position: 70px 9px;
 	background-repeat: no-repeat;
 	background-size: 12px 6px;
 }
 .select-container.group-filter {
	 width: 150px;
	 background-position: 130px 9px;
 }
 
 .select-inner-container {
 	float: left;
 	height: 27px;
 	margin: -2px;
 	overflow: hidden;
 	width: 68px;
 }
 select[id*='nofilter'] {
  background-position: 58px 9px !important;
 }
 .filter-form ul li select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow:hidden;
	padding-right: 0;
	background-color: transparent;
	border: none;
	float: left;
	font-size: 12px;
	height: 24px;
	padding-left: 7px;
	width: 92px;
	text-transform: uppercase;
 }
  .filter-form ul li .group-filter select  {
	 width: 147px;
 }
.filter-form ul li select::-ms-expand { /* for IE 11 */
    display: none;
}
 .timezone_filter_content {
	max-width: auto;
 }
 select:-moz-focusring {
 	color: transparent;
 	text-shadow: 0 0 0 #000;
 }
 
 .filter-form ul li select option {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
 }
 
 .filter-form ul li button {
     background-color: #ffffff;
     background-image: none;
     border: 1px solid #e3e3e3;
     border-radius: 2px;
     box-shadow: none;
     color: #555555;
     float: left;
     font-size: 12px;
     margin: 0 -2px;
     padding: 3.5px 18px 3.5px 13.5px;
	 text-transform: uppercase;
	 transition: all 0.5s ease 0s;
 }
 
 .filter-form ul li button:hover {
 	background-color: #EA3836 !important;
 	color: #ffffff;
 }
 .filter-form ul li button:active {
	outline: none;
	border: none;
 }
 .filter-form ul li button:focus {outline:0;}
 
 .filter-form ul li button.icon-calendar {
 	background-image: url("../images/icons/ic_calendar.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	background-size: 14px 16px;
 	height: 26px;
 	padding: 5px;
 	width: 34px;
 }
 .filter-form ul li button.icon-calendar.selected-period-filter {
	background-image: url("../images/icons/ic_calendar_active.png");
 }
 
 .filter-form ul li button.icon-calendar:hover {
 	background-image: url("../images/icons/ic_calendar_active.png");
 }
 
 .more-icon, .filter-more-icon {
 	background-image: url('../images/icons/ic_more.png');
 	background-position: center center;
 	background-size: auto auto;
 	background-repeat: no-repeat;
 	float: left;
 	margin-top: 4px;
 	width: 15px;
 	height: 19px;
 	cursor: pointer;
 }
 .filter-more-icon {
	display: block;
 }
 
 .filter-form ul li:first-child {
 	border-radius: 3px 0 0 3px;
 }
 
 .more-filters {
 	background-color: #ffffff;
 	height: auto;
 	padding-top: 10px;
 	position: absolute;
 	right: 0;
 	top: 68px;
 	display: none;
 	width: 191px;
 	box-shadow: -2px 2px 3px -2px #8a8a8a;
 	border-right: 1px solid #efefef;
 }
 
 .filter-form .more-filters li {
 	margin-top: 12px;
 }
 
 .filter-form .more-filters li:last-child {
 	margin-bottom: 15px;
 }
 /* ----- Navigation ----- */
 .navigation, aside {
 	position: fixed;
 	
 	background-color: #ffffff;
 	border-right: 1px solid #e1e9ee;
 	min-height: 70px;
 	position: relative;
 	float: left;
 }
 aside {
 	width: 15%;
 	height: auto;
 	min-height: 100px;
     border-right: none;
	 z-index: 12;
  }
 
 .navigation ul li, aside ul li {
 	background-color: #ffffff;
     display: block;
     float: left;
     width: 100%;
 }
 

  .navigation ul li a span, aside ul li a span ,  .navigation div a span{
	background-position: -3px -3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 25px;
    margin: 26px 0 0;
    width: 25px;
  }
   .navigation div a span{
	   margin: -2px 0 0;
   }
  .navigation ul li.selected a span, aside ul li.selected a span ,.navigation div.selected a span{
	background-position: -34px -2px;
  }
 .navigation ul .active-trail , aside ul .active-trail  {
 	background-color: #f1f1f3;
 }
 .navigation ul .active-trail a , aside ul .active-trail a , .navigation div .active-trail a{
 	border-right: 6px solid #eb3534;
 	color: #eb3534 !important;
 }
 .navigation ul li a, aside ul li a{
 	color: #666666;
 	display: block;
 	text-transform: uppercase;
 	width: 172px;
 	background-position: 17px center;
 	background-repeat: no-repeat;
 	background-size: 22px 22px;
 	line-height: 80px;
 	margin-left: -4px;
 	font-size: 13px;
 	text-decoration: none;
 	float: right;
	cursor: pointer;
 	border-bottom: 1px solid #F1F1F3;
    font-weight: 400;
    line-height: 80px;
    text-indent: 0;
    border-right: 6px solid #fff;
 }
 .navigation ul li a:hover, aside ul li a:hover {
 	text-decoration: none;
 }
 
 .navigation ul li .msg-notify, aside ul li .msg-notify {
 	background-color: #ebbe40;
 	background-image: none;
 	border: medium none;
 	border-radius: 50%;
 	display: block;
 	line-height: 1.25em;
 	padding: 1px 8px;
 	position: absolute;
 	right: 8%;
 	text-indent: 0;
 	top: 29px;
 }
 
 .navigation ul li a img {
 	object-fit: none;
 	object-position: 0 0;
 	width: 32px;
 	height: 32px;
 }
 
 .navigation ul li a:hover>img {
 /*	object-position: -32px 0; */
 }
 
 .navigation ul li.selected a>img {
 	object-position: -32px 0;
 }
 
 .navigation ul li.selected, .nav-mobile .nav-menu.selected {
 	object-position: -32px 0;
 	background-color: #f1f1f3;
 }
 .navigation ul li.selected a {
 	object-position: -32px 0;
 	border-right: 6px solid #eb3534;
 	color: #eb3534;
	font-weight: 600;
 }
 

 /*.navigation ul li .all-icon {
 	background-image: url("../images/icons/Ic_all_gray.png");
 }
 
 .navigation ul li.selected .all-icon {
 	background-image: url("../images/icons/Ic_all_gray.png");
 }
 
 .navigation ul li .trends-icon {
 	background-image: url("../images/icons/ic_trends_gray.png");
 }
 
 .navigation ul li.selected .trends-icon {
 	background-image: url("../images/icons/ic_trends_red.png");
 }
 
 .navigation ul li .leaderboard-icon {
 	background-image: url("../images/icons/ic_leaderboard_gray.png");
 }
 
 .navigation ul li.selected .leaderboard-icon {
 	background-image: url("../images/icons/ic_leaderboard_red.png");
 }*/
 
 .region ul.menu li, .region ul.links li, .region .item-list ul li {
 	background-image: none;
 }
 
 .navigation ul li .reports-icon, aside ul li .leaf {
 	background-image: url("../images/icons/ic_reports_gray.png");
 }
 
 .navigation ul li.selected .reports-icon, aside ul li.selected .leaf {
 	background-image: url("../images/icons/ic_reports_red.png");
 }
 
 aside ul li .leaf a {
 	background-image: url("../images/icons/ic_reports_gray.png");
 }
 
 aside ul li.selected .leaf a {
 	background-image: url("../images/icons/ic_reports_red.png");
 }
 
 .navigation ul li .newsfeed-icon {
 	background-image: url("../images/icons/ic_news_gray.png");
 }
 
 .navigation ul li.selected .newsfeed-icon {
 	background-image: url("../images/icons/ic_news_gray.png");
 }
 
 .navigation ul li .insights-icon {
 	background-image: url("../images/icons/ic_red_gray.png");
 }
 
 .navigation ul li.selected .insights-icon {
 	background-image: url("../images/icons/ic_red_gray.png");
 }
 
 #breadcrumbs {
 	display: none;
 }
 

 
 /*contact form  */
 form#contact-site-form #edit-name {
 	margin-left: 70px !important;
 }
 
 form#contact-site-form #edit-mail {
 	margin-left: 5px !important;
 }
 
 form#contact-site-form #edit-subject {
 	margin-left: 90px !important;
 }
 
 /* Footer */
 #footer, footer, .footer {
 	position: relative;
 	height: auto;
 	min-height: 60px;
 	float: left;
 	width: 100%;
 	background-color: #fff;
 	border-top: 1px solid #eee;
 	padding-left:30px;
 	padding-right:30px;
 	  z-index: 89;
 }
 
 .full-wrap {
 	padding: 0 15px;
 	max-width: 100%;
 } 
 footer .container, .footer .inner-container, #footer .inner-container {
 	border-top: 1px solid #F0F0F0;
 }
 
 .footer_credit {
 	background-color: #fff;
     border: medium none;
     float: none;
     margin: 0 auto;
     max-width: 1400px;
     min-width: 900px;
     padding: 0;
 }
 
 
 .powered-by-logo {
 	float: left;
 	margin: 20px 0 0;
 }
 
 .powered-by-logo p {
 	color: #555555;
 	font-size: 12px;
 	float: left;
 	margin: 2px 8px auto 0;
 }
 
 .footer-menu {
 	float: right;
 	margin: 0 0 15px;
 }
 
 .footer-menu ul li {
 	float: left;
 	margin: 0 auto;
 }
 
 .footer-menu ul li a {
 	border-right: 1px solid #666666;
     color: #666666;
     font-size: 11px;
     font-weight: 600;
     padding: 0 10px;
     text-decoration: none;
 }
 .footer-menu ul li:last-child a {
 	border-right: none;
 }

 /* Footer Ends */
 .well {
 	min-height: 0px !important;
 	padding: 0px !important;
 	margin-bottom: 0px !important;
 	background-color: transparent !important;
 	border: 0px solid #e3e3e3 !important;
 	border-radius: 0px;
 }
 
 .block-browse-reports {
 	display: none;
 }
 
 .page-title {
 	display: none;
 }
 
 .browse-report-tab {
 	background-color: #fff;
 	display: none;
 	height: 471px;
 	left: 22px;
 	padding: 0;
 	position: absolute;
 	top: 0;
 	width: 1010px;
 	border-radius: 5px;
 }
 
 .browse-report-tab .search-bar {
 	background-color: #E3E3E3;
 	float: left;
 	height: 82px;
 	width: 100%;
 	border-radius: 0;
 }
 
 .browse-report-tab .search-bar form {
 	padding: 10px;
 }
 
 .browse-report-tab .search-bar input {
 	background-color: #fff;
 	background-image: url("../images/icons/ic_search.png");
 	background-position: 14px center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	border: 0 none;
 	border-radius: 4px;
 	margin: 24px 0 15px 31px;
 	padding: 9px 0 8px 49px;
 	width: 93.8%;
 	color: #2a2a2a;
 }
 
 .speach-arrow {
 	background-image: url("../images/icons/ic_top_arrow.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	height: 21px;
 	position: absolute;
 	width: 30px;
 }
 .browse-report-tab .speach-arrow {
 	left: 34px;
 	top: -17px;
 }
 .notification .speach-arrow {
 	right: 319px;
 	top: -17px;
 }
 .browse-report-tab .reports-menu {
 	float: left;
 	width: 100%;
 	height: 350px;
 	max-height: 350px;
 	overflow-y: auto;
 }
 
 .browse-report-tab .reports-menu>ul {
 	float: left;
 	margin: 10px 0 10px 30px;
 	width: 96%;
 	padding: 0;
 }
 
 .browse-report-tab .reports-menu>ul>li {
 	width: 32%;
 	margin: 22px 1% 0 0;
	display: inline-block;
	vertical-align: top;
	min-height: 40px;
 }
 
 .browse-report-tab .reports-menu>ul>li span {
 	float: left;
 	height: 18px;
 	width: 18px;
 }
 
 .browse-report-tab .reports-menu>ul>li p {
 	float: left;
 	color: #eb3534;
 	font-size: 14.5px;
 	font-weight: 700;
 	text-transform: uppercase;
 	margin: 3px 0 4px 9px;
 }
 
 .browse-report-tab .reports-menu>ul>li p:after {
 	clear: both;
 }
 
 .browse-report-tab .reports-menu>ul>li ul {
 	padding: 0 0 0 0;
 	width: 100%;
 	float: left;
	margin: 0 0 0 27px;
 }
 
 .browse-report-tab .reports-menu>ul>li ul li {
 	color: #555555;
     font-size: 15px;
     font-weight: 500;
     line-height: 17px;
     list-style-type: disc;
     text-decoration: none;
     text-transform: none;
	 margin-bottom: 9px;
 }
 
 .browse-report-tab .reports-menu>ul>li ul li a {
 	color: inherit;
 	font-size: inherit;
 	text-decoration: none;
 	color: #555555;
 }
 
 .reports-carousel {
 	width: 100%;
 	background-color: #E4E4E4;
 	height: 65px;
 	float: left;
 	border-radius: 0 0 5px 5px;
 }
 /* report tip carousal starts */
 #carousel {
 	position: relative;
 	width: 100%;
 	margin: 0 auto;
 }
 
 #slides, #oneSlider {
 	overflow: hidden;
 	position: relative;
 	width: 80% !important;
 	height: auto;
 	float: left;
 }
 
 #slides ul, #oneSlider ul {
 	width: 100%;
 	min-width: 1024px;
 	height: auto;
 	margin: 0;
 	padding: 0;
 	position: relative;
 }
 
 #slides li, #oneSlider li {
 	width: 100%;
 	height: auto;
 	float: left;
 	text-align: center;
 	position: relative;
 	font-family: lato, sans-serif;
 }
 /* Styling for prev and next buttons */
 .btn-bar {
 	width: 10%;
 	float: left;
 	margin: 0 auto;
 	display: block;
 	/*
 position:relative;
 top:40px;
 */
 }
 
 #buttons {
 	padding: 0 0 5px 0;
 	float: right;
 }
 
 #buttons a {
 	text-align: center;
 	display: block;
 	font-size: 42px;
 	float: left;
 	outline: 0;
 	margin: 0 34px;
 	color: #555555;
 	text-decoration: none;
 	display: block;
 	padding: 0px;
 	width: 35px;
 	height:64px;
 	background-image: url("../images/icons/ic_left.png");
 	background-position: 14px center;
 	background-repeat: no-repeat;
 	background-size: 11px 19px;
 }
 #buttons a#prev {
 	-ms-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
 }
 
 .quoteContainer p, .quote-author {
 	font-family: sans-serif;
 	font-weight: 300;
 	display: table-cell;
 	vertical-align: middle;
 	padding: 5px 20px;
 	font-family: 'Lato', Calibri, Arial, sans-serif;
 }
 
 .quoteContainer p {
 	color: #555555;
     float: left;
     font-size: 14px;
     margin-top: 15px;
     text-align: center;
     width: 100%;
 }
 .quoteContainer p a {
 	color: inherit;
 	text-decoration: none;
 	font-weight: 600;
 	font-size: 14.5px;
 }
 
 .quoteContainer, .authorContainer {
 	display: table;
 	width: 100%;
 }
 
 
 /* report tip carousal ends */
 
 .report-header .inner-container {
 	background-color: #E3E3E3;
 	height: 49px;
 }
 
 .report-header h2 {
 	float: left;
 	font-size: 14.5px;
 	font-weight: 600;
 	margin: 17px 0 0 29px;
 	text-transform: uppercase;
 	color: #565656;
 }
 .report-header h6 {
	 color: #8a8a8a;
 	font-size: 23px;
 	font-weight: 500;
 	float: left;
 	margin: 10px 0 0 15px;
 }
 .report-header h4 {
 	font-size:9pt;
 	font-weight:normal;
 	float:left;
 	margin:18px 0 0 15px;
	color: #8a8a8a;
 }

 .report-header h5 {
 	float: left;
 	border-left: 1px solid #ccc;
 	color: #656565;
 	font-size: 12.5px;
 	font-weight: 300;
 	margin-left: 13px;
 	margin-top: 14px;
 	padding: 4px 0 4px 13px;
 	text-transform: none;
 }
 .download, .retry, .report-timer {
	float: right;
 	font-size: 12px;
 	margin: 15px 35px 10px 0;
 }
 .report-dashboard-link {
 	background-position: 0 center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	color: #565656;
 	font-size: 12px;
 	padding: 3px 0 3px 22px;
	display: block;
	cursor: pointer;
 }
 
 .report-header h3.download a {
 	background-image: url(../images/icons/ic_download.png);
 }
 .report-header h3.bookmark a {
 	background-image: url(../images/icons/ic_bookmark.png);
 }
 .report-header h3.retry a{
 	background-image: url(../images/icons/ic_retry.png);
 }
 .report-header h3.report-timer a{
 	background-image: url(../images/icons/ic_clock_gray.png);
 }
 
 .report-dashboard-link:hover {
	text-decoration: none;
	color: #5a5a5a;
 }
 .tooltip {
 	background-color: lightyellow;
 }
 
 /* Widget Container */
 .widget-container {
 	width: 90%;
 	 margin: 120px auto;
 	height: auto;
 	min-height: 200px;
 }
 .widget-container:first-child {
 	margin-top:40px;
 	}
.loadMoreBlk  .widget-container:first-child {
 	margin-top:0;
}
 .widget-container .inner-container {
 	border-radius: 5px;
 	float: left;
 	height: auto;
 	box-shadow: 0 0 8px -3px #5a5a5a;
 	margin-bottom: 40px;
	transition: all 0.5s ease 0s;
 }
/*  .widget-container .inner-container:hover {
	 box-shadow:none;
 } */
 .widget-head {
 	background-color: #ea3333;
 }
 
 .widget-head, .widget-body, .widget-footer {
 	float: left;
 	width: 100%;
 }
 
 .widget-body {
 	position: relative;
 	background-color: #E3E3E3;
 	height: auto;
	min-height: 100px;
    overflow-y: auto;
    padding: 0;
    
 }
 .threadBlock {
 	min-height: 200px;
	height:auto;
 	overflow-y: auto;
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
 }
 .widget-inner {
 	position: relative;
 	width: 100%;
 	margin: 0;
 }
 
 .widget-head {
 	border-radius: 3px 3px 0 0;
 	min-height: 48px;
 	height: auto;
 }
 
 .widget-footer, .widget-footer-reports{
 	background-color: #ffffff;
 	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
 	min-height: 48px;
 	height: auto;
	width: 100%;
	float: left;
 }
 .widget-footer-reports{
 	border-radius: 0;
 }
 .widget-footer ul {
 	padding: 0 0 0 21px;
 	margin: 0;
 }
 
 .widget-heading {
 	background-position: 19px center;
 	background-repeat: no-repeat;
 	border-right: 1px solid #fff;
 	color: #fff;
 	float: left;
 	min-width: 131px;
 	width: auto;
 }
 .widget-heading span {
	background-position: -4px -34px;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 25px;
    width: 25px;
    margin: 11px 0 11px 19px;
 }
 .widget-heading .widget-name {
    margin: 13.5px 0 0 12px;
    font-weight: 600;
 } 
 .widget-heading p {
     float: left;
 	font-size: 14px;
     font-weight: 600;
     margin: 15px 0;
     /* padding-left: 15px; */
     padding-right: 22px;
     text-indent: 4px;
     text-transform: uppercase;
 }

 .widget-breadcrumb {
 	font-size: 14px;
 	font-weight: 100;
 	color: #fff;
 	min-width: 40%;
    width: auto;
 	float: left;
 }
 .widget-head img {
     object-fit: none;
     object-position: 0px -32px;
     width: 32px;
     height: 32px;
     float: left;
     margin-top: 8px;
     margin-left: 15px;
 }
 .widget-newsfeed img {
     object-position: center center;
 }
 .widget-breadcrumb p {
 	margin-top: 15px;
 	text-indent: 21px;
 	color: #fff;
	float: left;
 }

 .bread-icon {
    background-image: url("../images/icons/ic_arrow_white.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 18px;
    margin: 16.5px 8px 0;
    width: 9px;
 }
 .report-name {
	 float: left;
	 margin: 12px 0 0;
 }
 .widget-breadcrumb h3 {
	font-size: 14px;
    font-weight: 400;
    margin: 17px 0 0;
    text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
 }
 .widget-breadcrumb p span {
 	text-transform: uppercase;
 	font-weight: 600;
 }
 
 .widget-time {
 	border-left: 1px solid #fff;
 	color: #fff;
 	float: right;
 	font-size: 13px;
 	font-weight: 600;
 	padding-left: 15px;
 	min-width: 215px;
 	width: auto;
 	margin-top: 13px;
 }
 
 .widget-time p {
 	margin: 3px 20px 3px 0;
 	font-style: italic;
 	color: #fff;
 	font-size: 12px;
 }
 
 .widget-time p b {
 	font-style: normal;
 	color: #fff;
 }
 
 .widget-footer ul li.toggle-notify-btn {
     background-image: url("../images/icons/ic_mag_gray.png");
    margin:  10px 0 0 5px;
 }
 .toggle-notify-btn-select{
     background-image: url("../images/icons/ic_mag_noti.png") !important;
 }
 .widget-footer ul li {
 	float: left;
 	padding: 13px 5px 13px 30px;
 	font-size: 13px;
 	color: #666666;
 	background-repeat: no-repeat;
 	background-position: 6px center;
 	cursor: pointer;
	text-transform: capitalize;
	opacity: 0.8;
	transition: all 0.5s ease 0s;
 }
 .widget-footer ul li:hover {
	opacity: 1;
 }
 .widget-footer ul li a ,.widget-footer p a {
 	color: inherit;
 	text-decoration: none;	
 }
 
 .widget-footer ul li.tags, button.tags {
 	background-image: url("../images/icons/ic_tagged.png");
 }
 
 .widget-footer ul li.comments, button.comments{
 	background-image: url("../images/icons/ic_comment.png");
 }
 
 .widget-footer ul li.bookmark {
 	background-image: url("../images/icons/ic_bookmark.png");
 }
 
 .widget-footer p {
 	/*width: 200px; */
 	float: right;
 	margin: 14px 30px 14px 0px;
 	color: #00A09F;
 	font-size: 12px;
 	font-style: italic;
 	letter-spacing: 0.5px;
 }
 .widget-footer p span {
 	color: #777777;
 	font-size: 12px;
 	font-style: normal;
 	letter-spacing: 0;
 	font-weight: 400;
 }
 /* Widget Report */
 .widget-report .widget-heading {
 	background-image: url("../images/icons/ic_trends_gray.png");
 }
 
 .widget-overlay {
 	position: absolute;
 	bottom: 49px;
 	width: 100%;
 	height: 80px;
 	background-color: rgba(0, 0, 0, 0.5);
 }
 
 .widget-overlay a {
 	display: block;
 	text-align: center;
 	color: #fff;
 	font-size: 14px;
 	padding: 47px 0 6px;
 	text-decoration: none;
 	cursor: pointer;
 	background-image: url("../images/icons/ic_zoom.png");
 	background-position: center 20px;
 	background-repeat: no-repeat;
 }
 
 .widget-body iframe {
 	width: 100%;
 	border: none;
 }
 .widget-body img{
	 width: 100%;
 }
 .widget-tab .widget-breadcrumb {
 	min-width: 30%;
	max-width: 44%;
	overflow: hidden;
 }
 .popup-container_browse_report .widget-breadcrumb {
 	min-width: 45%;
	max-width: auto;
	overflow: visible;
 }
 .widget-footer-reports button {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	background-color: none;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: 32px center;
	background-color: #fff;
	opacity: 0.7;
	box-shadow: none;
	padding: 13px 20px 13px 59px;
 }
 .popup-container_browse_report .widget-time {
	 display: none;
 }
 
 /* Newsfeed Widget */
 
 .widget-news .widget-heading{
 	background-image: url("../images/icons/ic_newsfeed_w.png");
 }
 .widget-image, .widget-contents {
	 height: 150px;
	 margin: 30px 0 30px 2.75%;
	 max-height: 150px;
 }
 .widget-image {
    width: 32%;
	line-height: 150px;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
 }
 .dummy-image{
	background-image: url("../images/default-news-feed.png");
	background-position: center center;
 	background-repeat: no-repeat;
	background-size: 320px auto;
 }

 .widget-image img {
 	width: 100%;
	vertical-align: middle;
 }
 
 .widget-contents {
 	padding: 26px 30px;
 	width: 60%;
 	color: #555555;
 }
 
 .widget-contents h2 {
 	font-size: 14px;
     font-weight: 600;
     margin-bottom: 10px;
     margin-top: 0;
 }
  .widget-contents h2 a {
	  color: #555555;
  }
 .widget-contents p {
 	font-size: 13px;
 	margin-bottom: 0;
 }
  .widget-contents p a {
 	color: #00a09f
 }
 
 .widget-image img, .widget-contents {
 	border-radius: 3px;
 }
 
 /* Widget Container Ends here*/
 

  /* Popup for widget container (Messaging and tagging)*/

 
.widget-popup {
    height: 102% !important;
    top: 0 !important;
    position: absolute !important;
    z-index: 9997;
}
 .widget-tab {
      margin: 50px auto;
     width: 744px;
 }
 .widget-tab .widget-footer {
     border-radius: 0;
 }
 .widget-tab .widget-footer ul {
     padding: 0;
     margin: 0;
 }
 .widget-tab .widget-footer ul li {
     padding: 14.5px 28px 14px 51px;
     background-position: 28px center;
	 opacity: 0.8;
 }
 .widget-eng-selected, .widget-footer-reports button.widget-eng-selected {
     border-bottom: 2px solid #eb3534;
	 opacity: 1 !important;
 }
 .widget-messaging {
     display: none;
 }
 .widget-tagging {
     display: none;
 }
 .widget-tab .message-body {
     border-bottom: 1px solid #E3E3E3;
     height: 285px;
     padding: 0;
     overflow: hidden;
 }
 .widget-tab .message-body #comment-list{
     border-bottom: 1px solid #E3E3E3;
     height: 190px;
     overflow-y: auto;
     padding: 0 15px;
 }
 
 .message-body .message-content:last-child {
     border: none;
 }
 .message-body.jquery-comments .navigation {
 	display: none;
 }
 .widget-engage {
     background-color: #fff;
    float: left;
    height: 285px;
    width: 100%;
	border-radius: 0 0 3px 3px;
 }
 .commenting-field {
 	/*padding: 15px 20px; */
 }
 .widget-engage .message-icon {
     width: 12%;
 }
 .widget-engage .message-icon img {
     width: 38px;
     height: auto;
 }
 .widget-engage .message-subject {
     width: 88%;
 }
 .message-content.widget-textfield {
     border: none;
 }
 .widget-textfield .message-icon img {
     margin: 24px 0 0 21px;
 }
 .message-body .comment  {
 	width: 100%;
 }
 .widget-textfield .message-type {
     width: 88%;
     float: left;
 }
 .widget-textfield .message-form {
     width: 87%;
     float: left;
 }
 .widget-textfield .message-form textarea, .message-body .textarea {
     border: 1px solid #cccccc;
     border-radius: 3px;
     height: 37px;
     margin: 25px 0;
     padding: 6px 8px;
     /* width: 70%; */
 }
 .widget-textfield .emoticon {
     width: 13%;
     float: left;
 }
 .widget-textfield .emoticon img {
     margin: 30px 0 0 21px;
 }
 
 .tagging-body {
     border-bottom: 1px solid #e3e3e3;
     float: left;
     height: 215px;
     overflow-y: auto;
     padding:29px 15px;
     width: 100%;
 }
 .tagging-body ul {
     margin: 23px 0;
     float: left;
     width: 100%;
 }
 .tagging-body li {
     width: 33%;
     border-right: 1px solid #ccc;
     float: none;
     padding: 0 0 4px;
     vertical-align: top;
     display: inline-block;
     position: relative;
	 height: 43px;
 }
 .tagging-body li:nth-child(3n+0) {
     border-right: none;
 }
 .tagging-body li img {
     border-radius: 50%;
     float: left;
     height: auto;
     margin: 0 0 3px 10px;
     width: 39px;
 }
 .tagging-body li h3 {
     color: #555555;
     float: left;
     font-size: 14px;
     margin: 14px 0 0 10px;
     text-transform: uppercase;
     font-weight:600;
   }
 .tagging-body li span {
    width: 20px;
     height: 25px;
     right: 10px;
     position: absolute;
 	}
 .tagging-body li span:after {
 	content: 'x';
     font-size: 20px;
     top: 0;
     margin: 0;
 }
 .tag-error{
	text-align: center;
    color: #eb3534;
    position: absolute;
    width: 100%;
    bottom: 83px;
 }
 .widget-tagging .message-type .message-form {
     width: 94%;
     margin-top: 20px;
 }
 .widget-tagging .message-type .message-form input::-webkit-input-placeholder { /* Chrome */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input:-ms-input-placeholder { /* IE 10+ */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input::-moz-placeholder { /* Firefox 19+ */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input:-moz-placeholder { /* Firefox 4 - 18 */
  text-transform: capitalize;
}
 .widget-tagging .widget-textfield .message-icon img {
     border-radius: 0;
    height: auto;
    margin: 27px 0 0 30px;
    width: 20px;
 }
 
 .tt-dataset-usernames {
     background-color: #fff;
     border: 1px solid #efefef;
     border-radius: 0 0 3px 3px;
     width: 400px;
     margin: 7px 0 0
     }
 .tt-suggestion {
 	padding: 3px 7px;
     text-transform: uppercase;
 }
 .tt-suggestion:hover {
	 background-color: #efefef;
 }
 .message-close {
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 50%;
     color: #fff;
     font-size: 29px;
     font-weight: 600;
     height: 32px;
     padding: 0;
	 line-height: 30px;
     position: absolute;
     right: -16px;
     text-align: center;
     top: -16px;
     width: 32px;
     cursor: pointer;
	 transform: rotate(45deg);
 }
 
 
 .jquery-comments ul.main:empty ~ .no-comments {
 	margin-top:-100px;
 }
 .bootstrap-tagsinput {
     width: 100%;
     height: 34px;
 }
  #toolbar {
     box-shadow: none;
 }
 
 /* Tool Tip */
 .call-tooltip {
     position: relative;
     cursor: pointer;
 }
 .my-tooltip {
     position: absolute !important;
     padding: 12px 9px;
     border: 1px solid #FFCE9A;
     background-color: #FFEC94;
     z-index: 999;
     top: -50px;
     height: auto;
     min-height: 20px;
     border-radius: 3px;
     display:none;
     width: auto;
     min-width: 215px;
     margin-top: 5px;
 }
 .social-login .my-tooltip {
     left: 14%; 
     top: 8px;
 }
 .my-tooltip>span {
     position: absolute;
     top: 100%;
     width: 100%;
     height: 7px;
     background-image: url("../images/icons/ic_tip.png");
     background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
 }
 .my-tooltip h2 {
     color: #555555;
     font-size: 13px;
     margin: 0;
     font-weight: 600;
	 text-align: center;
 }
 .my-tooltip h2 span {
     color: #FF8C1B;
     font-weight: 300;
 }
 .call-tooltip:hover > .my-tooltip {
     display:block;
 }
 /* Profile Container */
 
 .profile-content, .settings-content {
	width: 83%;
	margin:20px 3%;
	height: auto;
	min-height: 100px;
 }
 .profile-content .inner-container, .settings-content .inner-container {
	background-color: #F1F1F3;
	margin-bottom: 20px;
	padding: 30px 5px 8px;
	border-radius: 3px;
 }
 .profile-pic {
    height: 148px;
    line-height: 148px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 148px;
	background-color: #ffffff;
 }
  .profile-pic form {
	  position: absolute;
  }
 
 .upload-pic {
	width: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 36px;
	text-indent: 41px;
	line-height: 34px;
	background-color: rgba(0,0,0,0.5);
	background-image: url("../images/icons/ic_camera.png");
	background-size: 14px 13px;
	background-position: 19px center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: left;
	cursor: pointer;
 }
 .upload-pic a, .upload-pic a:hover, .upload-pic a:visited {
	color: inherit;
	text-decoration: none !important;
 }
 .profile-pic img {
    height: auto;
    width: auto;
 }
 .profile-pic-rule {
	color: #5a5a5a;
	font-size: 12px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 4px;
 }
 .profile-details h3 {
	width: 47%;
	margin-right: 3%;
	float: left;
	max-height: 55px;
	font-size: 14px;
	color: #545454;
	font-weight: 600;
	text-indent: 37px;
	border-bottom: 1px solid #E5E6EB;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 30px;
	background-position: 4px center;
	background-repeat: no-repeat;
	background-size: 22px 22px;
 }
 .profile-details h3  p {
	margin-top: 5px;
 }
 .profile-details h3 input, .profile-details h3  p {
	 cursor: pointer;
 }
 .profile-email a {
	 text-decoration: none;
 }
 .profile-details .profile-name {
	background-image: url("../images/icons/ic_name.png");
	background-size: 16px 16px;
 }
 .profile-details .profile-email {
	background-image: url("../images/icons/ic_mail.png");
	background-size: 20px 16px;
 }
 .profile-details .profile-sex {
	background-image: url("../images/icons/ic_profile.png");
	background-size: 22px 22px;
 }
 .profile-details .profile-number {
	background-image: url("../images/icons/ic_phone.png");
	background-size: 16px 16px;
 }
 .profile-details .profile-date {
	background-image: url("../images/icons/calendar.png");
	background-size: 16px 14px;
 }
 .profile-details .profile-adress {
	background-image: url("../images/icons/ic_location.png");
	background-size: 11px 16px;
 }
 .profile-edit {
	background-image: url("../images/icons/ic_edit.png");
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: 13px 13px;
	float: right;
	width: 22px;
	height: 20px;
	margin-top: 8px;
	cursor: pointer;
 }
 
 .editableform-loading {
   min-width: 264px !important;
 }
 .popover-content select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../images/icons/ic_dropup.png");
 	background-position: 92% center;
 	background-repeat: no-repeat;
 	background-size: 12px 6px;
 }
 .editableform .editable-submit {
	background: #019C9E;
	border-color: #019C9E;
 }
 .editableform .editable-submit:hover {
	 background: #019C9E;
	opacity: 0.8;
 }
 #ui-datepicker-div {
   z-index: 9999 !important;
   display: none;
 }
 /* Profile Container End */
 
 /* Loading animations */
 
 .loading-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	background-image: url('../images/load_data.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: none;
	z-index: 9999;
 }
 
 .loading-widget {
    background-image: url('../images/load_more.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
	width: 100%;
	height: 40px;
	display: none;
	margin: -25px auto 10px;
 }
 
 #errorTxt {
 	color:#eb3534;
 }
 .message-body h4 {
 	text-align: center;
 	padding: 20px auto;
 	color:#eb3534;
 }
 #loadMore {
    background-color: #E4E4E4;
    color: #eb3534;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 90%;
    text-align: center;
    margin: 0 auto 50px;
    border-radius: 3px;
    transition: all 0.5s ease 0s;
	letter-spacing: 2px;
	font-weight: 600;
 }
  #loadMore:hover {
    opacity: 0.7; 
	box-shadow: none;
 }
/* User Profile Settings Container */

.settings-content .filter-form {
	width: 785px;
	margin: 0 auto;
	float: left;
}
.settings-content .setting-container {
	background-color: #f1f1f3;
	width: 800px;
	float: left;
	padding: 10px 15px;
	border-radius: 2px;
}
.settings-content {
	float: left;
}
.settings-content h1 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 16px;
	margin-top: 5px;
} 

.settings-content .inner-container {
	background-color:#fff;
	padding: 0 5px;
}
.settings-content label {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
	font-size: 13px !important;
	font-weight: 300;
}
.settings-content .time-zone .select-container span {
	background-position: 69px 9px;
}
.settings-content .filter-form form > ul > li button.icon-calendar {
	height: 27px;
}
.setting-container .filter-form ul li {
    float: left;
}
.time-zone label {
	margin-left: 10px;
}
.settings-content .password-setting {
	padding: 0 15px;
	cursor: pointer;
}
.settings-content .password-setting h2 {
	width: auto;
	padding: 14px 15px 8px 0;
	height: 40px;
	margin: 0;
	font-size: 12px;
	letter-spacing: 4px;
	border: none;
	background-color: transparent;
	border-right: 1px solid #ccc;	
	float: left;
	padding-bottom: 8px;
	color: #555555;
}
.settings-content .password-setting h3{
	color: #555555;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin: 13px 0 0 32px;
    opacity: 0.39;
}
.show-password {
	width: 40px;
	height: 30px;
	float: left;
	margin: 15px 0 0 -60px;
	background-image: url('../images/icons/eye-icon.png');
    background-position: center center;
	background-repeat: no-repeat;
	background-size: 66% auto;
	cursor: pointer;
	opacity: 0.8;
	display: none;
}
.settings-content .change-password {
	border: 1px solid #ccc;
	float: left;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	background-color: #ffffff;
	display: none;
	position: relative;
}
.settings-content input[type="password"], .settings-content input[type="text"] {
    background-repeat: no-repeat;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
    box-shadow: none;
    color: #555555;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #e1e9ee !important;
    width: 29%;
    margin: 7px 2%;
	float: left;
}
.settings-content input[type="submit"], .settings-content input[type="reset"] {
	width: 20.5%;
	float: left;
	margin: 15px 10% 14px;
	border: none;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 3px;
}
.settings-content input[type="submit"] {
	background-color: #00A8A5;
	color: #ffffff;
	background-image: none !important;
	margin: 15px 8% 15px 25.5%;
}
 .settings-content input[type="reset"] {
 	background-color: #ffffff;
 	border: 1px solid #ccc;
 	color: #555555;
	margin:  15px 0;
 }
 .settings-content input[type="reset"]:hover {
	 background-color: #ffffff;
 }
 .settings-content .select-container.group-filter {
    background-position: 95% 9px;
    max-width: 121px;
    width: auto;
	min-width: 20px;
}
 .settings-content .select-container.group-filter select {
	 max-width: 118px;
    width: auto;
	min-width: 20px;
	padding-right: 29px;
 }
 .time-zone  ul li {
	 float: left;
 }
 .settings-content .time-zone .time-zone-filter {
	min-width: 90px;
	max-width: 300px;
	width: auto;
	background-position: 96% 9px;
 }
 .filter-form ul li .time-zone-filter  select {
	 min-width: 90px;
	 max-width: 300px;
	 width: auto;
	 padding-right: 24px;
 }
.password-setting p {
	font-size: 12px;
	color: #ccc;
	font-style: italic;
	width: 310px;
	float: left;
	margin-top: 10px;
	text-align: right;
}
.password-setting .profile-edit {
	height: 23px;
	width: 30px;
	border-left: 1px solid #ccc;
	background-position: 10px 3px;
}
/*.filter-form ul li {
  display: inline-block;
}*/
.report-period-filters {
  text-transform: uppercase;
}
.period-filter, #group_filter, #currency_filter {
  text-transform: uppercase;
}
.selected-period-filter {
  background-color: #EA3836 !important;
  color: #ffffff !important;
}
.passwordmessage {
	user-select: none;
	left: 0;
	position: relative;
	text-align: center;
	bottom: 6px;
	width: 100%;
	float: left;
	margin:  10px 0;
}
.passwordmessage.error {
  color: red;
}
.passwordmessage.success {
  color: #EA3836 ;
  font-size: 14px;
}
#password_rules_hint {
	color: #808080;
    float: left;
    width: 100%;
	margin-left: 19px;
	margin-bottom: 15px;
}
#wait {
  display: none;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
}
#user_address {
  border-bottom: none !important;
  text-align:justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555555;
  max-width: 80%;
}
.profile-adress {
  max-height: 40px !important;
}
.profile-adress span.profile-edit {
  margin-top: -25px  !important;
}
.editable-click, #user_email {
  border-bottom: none !important;
  color: #555555 !important;
}
/* #timezone_filter {
  max-width: 100% !important;
} */
/* User Profile Settings Container End */

.bigS{
    font-size:8em;
    margin-left:35%;
}

.full_loader {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    background-image: url('../images/ajax-loader.gif');
    background-position: center center;
	background-repeat: no-repeat;
	background-size: 75px auto;
    z-index: 9999;
}
.daterangepicker .calendar{
  width: auto !important;
}
.daterangepicker .calendar-table th{
  background: none !important;
  color: #000 !important;
}
.no_posts { 
	color: #8a8a8a;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.errorMsg, .errorMsg2 { 
	text-align: center;
    color: #eb3534;
    background-color: #ffffff;
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    width: 100%;
}

.errorMsg2 {  
	bottom: 62px;
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    margin: 0 5%;
}

/* Recently Viewed Reports*/
.recent-reports {
    width: 100%;
    border: 1px solid #e3e3e5;
	border-right: none;
    float: left;
    margin-top: -1px;
    color: #555555;
}
.recent-reports .recent-reports-head {
    border-bottom: 1px solid #e3e3e5;
    float: left;
    padding:  15px 0;
    width: 100%;
}
.recent-reports .recent-reports-head span {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-image: url(../images/icons/ic_recently.png);
    float: left;
    height: 17px;
    margin: 0 9px 0 12px;
    padding: 0 18px 0 0;
    width: 17px;
}
.recent-reports .recent-reports-head h2 {
    font-size: 14px;
    color: #555555;
    font-weight: 600;
    float: left;
    text-transform: uppercase;
    margin:0 17px 0 5px;
}
.recent-reports-body ul {
    margin: 0 9%;
    width: 82%;
}
.recent-reports-body ul li {
    width:100%;
    float: left;
    border-bottom: 1px solid #e3e3e5;
    padding: 19px 0 22px;
}
.recent-reports-body ul li h2 {
    width: 69%;
    font-size: 11px;
    color: #eb3534;
    font-weight: 600;
    text-transform: uppercase;
    margin:0 0 9px;
    float: left;
}
.recent-reports-body ul li h6 {
    width: 31%;
    float: right;
    font-size: 12px;
    color: #cccccc;
    font-weight: 400;
    text-align: right;
    margin-top: 0;
    margin-bottom: 4px;
                }
.recent-reports-body ul li a {
    float: left;
    width: 100%;
    text-decoration: none;
}
.recent-reports-body ul li h3 {
    font-size: 13px;
    color: #555555;
    font-weight: 500;
    margin:0;
    width: 90%;
    float: left;
    line-height: 16px;
}
.recent-reports-body ul li span {
    background-image: url("../images/icons/ic_arrow.png");
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 11px;
    margin-top: 5px;
    width: 10%;
}
.recent-reports-body ul li:last-child {
    border: none;
}


/* Mobile contents */
.settings-content .filter-form {
	display: block;
}
.mobile-filter-menu, .mobile-filter-form, .mobile-content, .mobile-filter-menu, .mobile-filter-form , .nav-mobile, .recent-report-menu, .logo-container, .filter-more-icon {	
	display: none;
}
@media screen and (max-width: 1240px) {
	.navigation ul li a span, aside ul li a span, .navigation div a span {
		margin : 26px 0 0 30px;
	}
/* ADMIN PAGES */
	.page-manage {
		width: 1024px;
		min-width: 1024px !important;
		float: none;
		margin: 0 auto;
	}
}
.page-manage .aside-dash {
	display: none;
}
.page-manage #toolbar {
	display: block !important;
	margin: 0;
	padding: 0;
}
.page-manage .contents-dash {
	width: 1024px;
	min-width: 1024px !important;
	padding: 0 20px;
	float: none !important;
	margin: 15px auto;
	min-height: 490px;
	
}
body.page-manage.toolbar {
	padding-top: 0 !important;
}
body.page-manage.toolbar #toolbar {
	position: relative !important;
}
/* .page-manage .block, .page-manage .block-user-management, .page-manage .contextual-links-region, .page-manage .region, .page-manage .region-content {
	width: 1024px !important;
	min-width: 1024px !important;
	overflow-x: auto;
}
.page-manage table {
	width: 1024px !important;
	min-width: 1024px !important;
	overflow-x: auto;
} */
#overlay-container, .overlay-modal-background, .overlay-element {
	top: 6px;
}

.report_info li {
	list-style: inherit;
}
/* tool tip css starts */
.sub_wrapper {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  cursor: help;
  font-size: 9pt;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.sub_wrapper .tooltip_spl {
  background: #24d8e5;
  left: 100%;
  color: #fff;
  display: block;
  top: 0;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  text-transform: capitalize;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.sub_wrapper .tooltip_spl:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.sub_wrapper .tooltip_spl:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  left: 0;
  content: " ";
  height: 0;
  top: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
  transform: rotate(90deg);
}
  
.sub_wrapper:hover .tooltip_spl {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .sub_wrapper .tooltip_spl {
  display: none;
}

.lte8 .sub_wrapper:hover .tooltip_spl {
  display: block;
}
/* tool tip css ends */




.checkbox-select label {
	background: #019c9e none repeat scroll 0 0 !important;
    border: 1px solid #019c9e !important;
}

/* Event scheduler */
.event-scheduler-box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
	display: none;
	background-color: rgba(255, 255, 255, 0.4);
}
.event-scheduler {
    position: relative;
    width: 440px;
    margin: 130px auto;
}
.scheduler-inner {
	width: 100%;
	float: left;
	box-shadow: 0px 0px 5px 1px #cdcdcd;
	border-radius: 3px;
	min-height: 200px;
	max-height: 364px;
	height: auto;
	background: #ffffff;
}
.event-scheduler-head {
    background-color: #F0F0F0;
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
}
.event-scheduler-head p {
    color: #555555;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 20px;
}
.event-scheduler-head span {
    color: #555555;
    font-size: 30px;
    position: absolute;
    right: 9px;
    top: -1px;
	transform: rotate(45deg);
	cursor: pointer;
}
.event-scheduler-body {
    width: 100%;
    float: left;
    height: auto;
    padding: 15px 0 20px 20px;
    background-color: #ffffff;
}
.event-scheduler-body br {
    clear: both;
    margin: 15px;
}
.event-scheduler-body p {
    color: #555555;
    float: left;
    margin-bottom: 0;
}
.event-scheduler-body .select-cont {
    width: 80px;
    overflow-x: hidden;
    float: left;
    margin: 0 10px;
}
.add-edit-report {
	width: 100%;
	float: left;
	display: none;
	padding-right: 20px;
}
.scheduled-lists {
	float: left;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    padding-right: 20px;
    width: 100%;
}
.scheduled-lists thead td {
	background-color: #F0F0F0;
}
.scheduled-lists td, .scheduled-lists th {
	padding: 2px 3px;
	text-align: center;
}
.event-scheduler-body .select-cont select {
    border: none;
    background-color: transparent;
    width: 80px;
	background-image: url("../images/icons/ic_dropup.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 12px 6px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.event-scheduler-body .datepicker {
    width: 80px;
    float: left;
    height: 15px;
    margin: 0 10px;
}
.event-scheduler-body .datepicker input {
    width: 100%;
    float: left;
    background-color: transparent;
    border: none;
	margin-top: -8px;
}
.event-scheduler-body .weekly, .event-scheduler-body .monthly {
    display: none;
}
.event-scheduler-body button {
    padding: 6px 45px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.event-scheduler-body tbody button {
    background: #eb3534 none repeat scroll 0 0;
    border: medium none;
    border-radius: 1px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 8px;
    text-transform: uppercase;
}
.event-scheduler-body .add-report {
	margin-bottom: 10px;
	float: left;
	border: 1px solid #cccccc;
	color: #555555;
	background-image: url("../images/icons/plus-icon.png");
    background-position: 20% center;
    background-repeat: no-repeat;
    background-size: 20px auto;
	padding: 6px 20px 6px 45px;
}
.event-scheduler-body .add-edit-report button {
	float: right;
	margin-left: 15px;
	padding: 6px 20px;
}
.event-scheduler-body .add-edit-report button:hover{
	background-color: #eb3534;
	background: #eb3534;
}