/* ------ Responsive ----- */

@media screen and (max-width: 980px) {
	.section-container {
		min-width: 100%;	
	}
	section#post-content {
		width: 602px;
	}
	.region-content .block-block {
		width: 100%;	
	}
	#block-user-login, .sign-in.row {
		margin-left: 0;
		width: 100%;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		margin-left: 5%;
		width: 89%;
	}
	.form-item-remember-me {
	    margin-left: 5%;
	    width: 44%;
	}
	#user-login-form .item-list li.first {
		width: 46%;	
	}
	#edit-actions {
		width: 100%;	
	}
	.social-login .my-tooltip {
	   left: 28%;
	 }
	.footer_credit {
		min-width: 100%;
	}
}

@media screen and (max-width: 624px) {
	.col-md-10.col-centered {
		width: 100%;
	}
	section#post-content {
		width: 100%;
	}
	.brand-logo {
	   margin: 20px auto 0;
	   width: 135px;
	}
	#block-views-slideshow-block {
		float: left;
		width: 100%;
	}	
	.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame .field-content img {
		width: 100% !important;	
	}
	
	
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		float: left;
		margin: 20px auto;
		width: 100%;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
		width: 100%;
		float: left;
	}
	.footer-menu ul li {
		width: 100%;
		text-align: center;
	}
	.footer-menu ul li a {
		border: none;
	}
}
@media screen and (max-width: 450px) {
	.login-container, .region-content {
		margin-top: 23px;
	}
	.carousel {
		display: none;
	}
}
@media screen and (max-width: 360px) {
	header, .region-content, #footer, footer, .footer {
		width: 360px;
	}
}