
/* ------ Responsive ----- */
@media screen and (max-width: 1020px) {
	#toolbar {
		height: 30px;
		overflow: hidden;
	}
	 .section-container {
		min-width: 360px;
	 }
}
@media screen and (max-width: 985px) {
	section#post-content {
		width: 602px;
	}
	.region-content .block-block {
		width: 100%;	
	}
	#block-user-login, .sign-in.row {
		margin-left: 0;
		width: 100%;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		margin-left: 5%;
		width: 89%;
	}
	.form-item-remember-me {
	    margin-left: 5%;
	    width: 44%;
	}
	#user-login-form .item-list li.first {
		width: 46%;	
	}
	#edit-actions {
	width: 100%;	
	}
	
	.filter-form {
		display: none;
	}
	.sub-header .sub-brand-logo {
		border: none;
	}
	.mobile-filter-menu {
		background-image: url(http://image.flaticon.com/icons/png/128/57/57164.png);
		background-size: 100% auto;
		background-position: center center;
		display: block;
		float: right;
		height: 17px;
		margin: 20px 20px 0 0;
		opacity: 0.75;
		width: 20px;
	}
	.mobile-filter-form {
		display: none;
	}
	.mobile-filter-form {
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		position: fixed;
		
	}
	.mobile-filter-section-filter {
		width: 100%;
		float: left;
	}
	.mobile-filter-section {
		width: 400px;
		margin: 0 auto;
		position: relative;
	}
	.mobile-filter-section ul {
		padding: 0;
		margin: 0;
	}
	.mobile-filter-section ul  li {
		list-style: none;
		width: 100%;
	}
	.mobile-filter-section ul  li label {
		float: left;
		width: 100%;
		color: #BFBFBF;
		font-weight: 300;
		margin-top: 14px;
	}
	.mobile-filter-section ul  li .select-container {
		width: 100%;
		padding: 6px 0 1px 10px;
		height: 30px;
		background-color: #FAFAFA;
		border: 1px solid #cecece;
		border-radius: 0;
	}
	.mobile-filter-section ul  li .select-container .select-inner-container {
		width: 97%;
		
	}
	.mobile-filter-section ul  li .select-container .select-inner-container select {
		width: 100%;
		border: none;
		background-image: url("../images/icons/ic_dropup.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 13px 6px;
		background-color: #FAFAFA;
		color: #7B7B7B;
	}
	.mobile-filter-section button {
		width: 100%;
		padding: 13px 0;
		background-color: #AEAEAE;
		border: none;
		background-image: none;
		box-shadow: none;
		border-radius: 0;
		font-size: 13px;
		margin-top: 60px;
	}
	.filter-form-heading  {
		float: left;
		width: 100%;
		height: auto;
		min-height: 40px;
		box-shadow:  0px 16px 5px -18px #9a9a9a;
	}
	.filter-form-heading h3, .filter-form-heading h4 {
		float: left;
		font-size: 15px;
		color: #2a2a2a;	
		margin: 10px 0;
	}
	.filter-form-heading h4 {
		float: right;
		opacity: 0.5;
	}
}
@media screen and (max-width: 768px) {
	.browse-report-button {
		float: left;
		font-size: 1px;
		font-weight: 200;
		height: 32px;
		line-height: 28px;
		padding: 8px 11px 8px 25px;
		text-indent: -10px;
		width: 40px;
		/*transition: all 0.5s ease;*/
	}
	.browse-report-tab .reports-menu > ul > li p {
		width: 75%;
		background-image: url("../images/icons/ic_dropup.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: auto auto;
	}
	.header-right ul li {
		float: left;
		border: none;
	}
	.desktop-content {
		display: none;
	}
	.header-right ul li.name-label .mobile-content {
		display: block;
		margin-top: 0;
	}
	.header-right ul li.name-label .mobile-content span{
		background-image: url("../images/icons/ic_more.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto auto;
		width: 3px;
		padding: 0;
		height: 17px;
	}
	.header-right ul li.name-label .profile-tab {
		top: 61px;
		width: 200px;
		height: 153px;
	}
}
@media screen and (max-width: 620px) {
	.col-md-10.col-centered {
		width: 100%;
	}
	.brand-logo {
		float: none;
		margin: 20px auto;
		width: 102px;
	}
	
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		float: none;
		margin: 20px auto;
		width: 373px;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 450px) {
	.carousel {
		display: none;
	}
}
@media screen and (max-width: 389px) {
	.login-container {
		width: 360px;
	}
}