body {
 	font-family: 'Source Sans Pro', sans-serif !important;
 	float: left;
 	position: relative;
 	height: auto;
 	width: 100%;
 }
 
 body.login-page {
 	background-image: url("../images/icons/ic_bg_img.png");
 	background-position: center center;
 	background-size: 100% auto;
 }

 .col-centered {
 	margin: 0 auto;
 	float: none;
 }
 .full-width{
    width:100%;
 }
 .footer_credit {
 	background-color: #fff;
 }
 /* ------ Header ----- */
 .brand-logo {
 	float: left;
 	margin: 20px 0 20px 0;
 	padding-left: 30px;
 }
 
 .social-login .tooltip span {
 	background-color: #FFEC94;
 	border: 1px solid #fc0016;
 	display: block !important;
 }
 /* ------ Login Container ----- */
 #first-time, .page-header {
 	display: none;
 }
 
 .block-title {
 	font-family: 'Source Sans Pro', sans-serif;
 	text-align: center;
 }
 
 .main-container>section {
 	width: 947px;
 	margin: 0 auto;
 	float: left;
 	margin-left: 2%;
 }
 
 .main-container {
 	width: 100%;
 	padding: 0;
 }
 
 .agency-logo {
 	width: 91px;
 	height: 40px;
 	position: absolute;
 	right: 19px;
 	top: 0;
 	display: none;
 }
 
 .agency-logo img {
 	width: 100%;
 	height: auto;
 }
 /* ------ Login Container Ends Here ----- */
 
 /* -------- Dashboard ------- */
 #page-wrap {
 	margin-bottom: 0 !important;
 	top: 0;
 }
 
 #page-wrap {
 	position: relative;
 	float: left;
 	margin: 0;
 	width: 100%;
 	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 	border: medium none;
 	border-radius: 0;
 	box-shadow: none;
 	margin: 0 auto;
 	max-width: 100%;
 	padding: 0;
 	position: relative;
 	z-index: 9;
 	min-height: 400px;
 }
 
 #container {
 	clear: both;
 	overflow: hidden;
 	padding: 0;
 }
 .container {
     padding: 0 30px !important;
     width: 100% !important;
 }
 .content-sidebar-wrap #content {
 	margin-bottom: 0;
 	max-width: 1197px;
 }
 .container-wrap {
 	margin: 0 auto;
 	max-width: 100%;
 	overflow: unset;
 }
 .header, .section {
 	width: 100%;
 	float: left;
 	position: relative;
 	
 }
 .section {
     z-index: 90;
 }
 .footer {
 	margin: 0 auto;
 	float: none;
 	max-width: 1400px;
 	min-width: 1024px;
 	width: 100%;
 	
 }
 .section-container {
 	position: relative;
 	margin: 0 auto;
 	float: none;
 	max-width: 1400px;
 	min-width: 1024px;
 	width: 100%;
 	
 }
 .inner-container {
 	width: 100%;
 	float: left;
 	position: relative;
 }
 
 .popup-container {
 	background-color: rgba(0, 0, 0, 0.5);
 	display: none;
 	height: 100%;
 	left: 0;
 	position: absolute;
/* 	transition: all 0.5s ease 0s; */
 	width: 100%;
 	top: -5px;
 	z-index: 99;
 }
 
 /* Message tab */
 .message-tab {
 	position: absolute;
 	width: 375px;
 	height: auto;
 	right: 100px;
 	top: 0;
 	background-color: #fff;
 	display: none;
 }
 
 .message-header {
 	background-color: #E3E3E3;
 	float: left;
 	height: 54px;
 	width: 100%;
 }
 
 .message-header p {
 	color: #fc0016;
 	float: left;
 	font-size: 13px;
 	font-weight: 600;
 	margin-left: 22px;
 	margin-top: 19px;
 }
 
 .message-header span {
 	background-image: url("../images/icons/ic_settings-1.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	float: right;
 	height: 22px;
 	margin-right: 27px;
 	margin-top: 16px;
 	width: 23px;
 }
 
 .message-body {
 	width: 100%;
 	float: left;
 	height: auto;
 	padding: 0 10px;
 	overflow-y: auto;
 	height: 350px;
 }
 
 .message-content {
 	width: 100%;
 	border-bottom: 1px solid #ccc;
 	float: left;
 }
 
 .message-icon {
 	width: 20%;
 	float: left;
 }
 
 .message-icon img {
 	border-radius: 50%;
 	float: left;
 	height: 44px;
 	margin-left: 11px;
 	margin-top: 10px;
 	width: 44px;
 }
 
 .message-subject {
 	float: left;
 	width: 78%;
 }
 
 .message-subject h3 {
 	color: #555555;
 	float: left;
 	font-size: 12px;
 	font-weight: 600;
 	margin: 11px 0 0;
 }
 
 .message-subject span {
 	font-weight: 400;
 	font-size: 12px;
 	color: #cccc;
 	float: right;
 	margin-top: 9px;
 	margin-right: 10px;
 }
 
 .message-subject span:after {
 	clear: both;
 }
 
 .message-subject p {
 	color: #555555;
 	float: left;
 	font-size: 12px;
 	line-height: 18px;
 	margin-top: 6px;
 	width: 100%;
 	margin-bottom: 0px;
 }
 
 .message-subject h5 {
 	color: #9a9a9a;
 	float: left;
 	font-size: 11px;
 	font-style: italic;
 	font-weight: 300;
 	margin: 4px 0 13px;
 }
 
 .header {
 	background-color: #ffffff;
 	box-shadow: 0 3px 4px -4px #8a8a8a;
 	height: auto;
 	min-height: 90px;
 	width: 100%;
 	position: relative;
 	bottom: 5px;
 	
 }
 .header .inner-container {padding: 30px 0 20px 20px; }
 
 .browse-report-button {
 	background-color: #fc0016;
 	background-image: url("../images/icons/ic_browsere.png");
 	background-position: 11px 11px;
 	background-repeat: no-repeat;
 	color: #fff;
 	cursor: pointer;
 	display: block !important;
 	float: left;
 	font-size: 11.5px;
 	font-weight: 600;
 	padding: 8px 11px 8px 41px;
 }
 
 .header-right {
 	float: right;
 	margin-right: 20px;
 }
 
 .header-right ul {
 	padding: 0;
 	margin: 0;
 }
 
 .header-right ul li {
 	border-right: 1px solid #cdcdcd;
 	cursor: pointer;
 	float: right;
 	list-style: outside none none;
 	padding: 5px 20px;
 	position: relative;
 }
 
 .header-right ul li:first-child {
 	border-right: medium none;
     margin-top: -9px;
     padding-left: 29px;
     padding-right: 12px;
 }
 
 .header-right ul li.name-label {
 	    padding-right: 7px;
 }
 
 .header-right ul li.name-label p {
 	color: #656565;
 	float: left;
 	font-size: 12px;
 	font-weight: 600;
 	margin: 2px 0 0;
 	text-transform: uppercase;
 }
 
 .header-right ul li.name-label span {
 	background-image: url("../images/icons/ic_dropup.png");
 	background-position: 96% center;
 	background-repeat: no-repeat;
 	padding-left: 20px;
 }
 
 .header-right ul li.name-label .profile-tab {
 	background-color: #fff;
 	border: 1px solid #efefef;
 	box-shadow: 0 0 4px -2px #8a8a8a;
 	display: none;
 	height: 146px;
 	right: 0;
 	position: absolute;
 	top: 0;
 	width: 130px;
 	z-index: 999;
 }
 
 .header-right ul li.name-label .profile-tab h3 {
 	border-bottom: 1px solid #efefef;
 	color: #019c9e;
 	float: left;
 	font-size: 12.5px;
 	font-weight: 400;
 	margin: 12px 0 0;
 	padding-bottom: 9px;
 	text-indent: 14px;
 	width: 100%;
 	padding-left: 14px;
 }
 
 .header-right ul li.name-label .profile-tab h3.name-label {
 	text-transform: uppercase;
 	margin: 14px 0 0;
 	position: relative;
 }
 
 .header-right ul li.name-label .profile-tab h3 span {
 	background-image: url("../images/icons/ic_dropdowen.png");
 	background-position: 96% center;
 	background-repeat: no-repeat;
 	padding-left: 20px;
 	margin-left: 30px;
 	position: absolute;
     top: -8px;
    right: 6px;
     width: 20px;
     height: 20px;
 }
 
 .header-right ul li.name-label .profile-tab h3 a {
 	color: #555555;
 	font-size: 14px;
 	display: block;
 }
 
 .header-right ul li.name-label .profile-tab h3 a:hover {
 	text-decoration: none;
 }
 
 .header-right ul li.name-label .profile-tab h3:last-child {
 	border-bottom: none;
 }
 
 .header-right ul li.message-notification {
 	
 }
 
 .header-right ul li.message-notification span {
 	background-color: #ebbe40;
     background-image: none;
     border: medium none;
     border-radius: 50%;
     display: block;
     font-size: 11px;
     line-height: 1.25em;
     margin: auto;
     padding: 1px 5px 1px;
     position: absolute;
     right: 12px;
     top: 0;
     color: #555555;
 }
 
 .header-right ul li.bookmark {
 	
 }
 
 .sub-header {
 	float: left;
 	position: relative;
 	background-color: #ffffff;
 	width: 100%;
 	z-index: 92;
 	box-shadow: 0 3px 4px -4px #8a8a8a;
 	height: 71px;
 }
 
 .sub-header-fixed {
 	position: fixed;
 }
 
 .sub-header .sub-brand-logo {
 	float: left;
 	width: 203px;
 	padding: 0 22px 5px 32px;
 	height: auto;
 	margin-top: 16px;
 	border-right: 1px solid #E3E3E3
 }
 
 .sub-brand-logo .page-icon {
 	float: left;
 	margin: 4px 11px 5px 0;
 	width: 21px;
 }
 
 .sub-brand-logo .less-than {
 	float: left;
 	font-size: 19px;
 	margin-top: 0;
 	width: 7px;
 	color: #69708C;
 }
 
 .sub-brand-logo .brand-icon {
 	float: left;
    margin: 0 0 0 20px;
    max-width: 89px;
    width: auto;
 }

 .sub-brand-logo .brand-icon img {
    height: auto;
    max-height: 35px;
    max-width: 89px;
    width: auto;
}
 .filter-form {
 	width: 75%;
 	float: right;;
 	margin-right: 20px;
 	margin-top: 21px;
 }
 
 .filter-form form {
 	position: relative;
 }
 
 .filter-form ul {
 	padding: 0;
 	margin: 0;
 }
 
 .filter-form ul li {
 	list-style: none;
  float: right;
 	width: auto;
 	margin: 0 10px 0 16px;
 	color: #555;
 }
 
 .filter-form ul li label {
 	float: left;
 	padding-right: 10px;
 	margin-top: 3px;
 	font-size: 12px;
 	font-weight: 300;
 	margin-left: -6px;
 }
 
 .select-container {
 	border: 1px solid #cecece;
 	border-radius: 3px;
 	float: left;
 	height: 25px;
 	overflow: hidden;
 	padding: 0 0 1px 1px;
 	background-color: #fff;
 	width: 80px;
 }
 
 .select-inner-container {
 	float: left;
 	height: 27px;
 	margin: -2px;
 	overflow: hidden;
 	width: 80px;
 }
 select[id*='nofilter'] {
  background-position: 58px 9px !important;
 }
 .filter-form ul li select {
  background-image: url("../images/icons/ic_dropup.png");
 	background-position: 70px 9px;
 	background-repeat: no-repeat;
 	background-size: 14px 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow:hidden;
  padding-right: 40px;
 	background-color: transparent;
 	border: 1px solid #cecece;
 	float: left;
 	font-size: 12px;
 	height: 26px;
 	padding-left: 7px;
 	width: 95px;
 }
 .timezone_filter_content {
  max-width: 200px;
 }
 select:-moz-focusring {
 	color: transparent;
 	text-shadow: 0 0 0 #000;
 }
 
 .filter-form ul li select option {
 	padding: 2px
 }
 
 .filter-form ul li select option {
 	border-right: 1px solid #cecece;
 	border-left: 1px solid #cecece;
 }
 
 .filter-form ul li button {
     background-color: #ffffff;
     background-image: none;
     border: 1px solid #e3e3e3;
     border-radius: 2px;
     box-shadow: none;
     color: #555555;
     float: left;
     font-size: 12px;
     margin: 0 -2px;
     padding: 3.5px 12px;
 }
 
 .filter-form ul li button:hover {
 	background-color: #EA3836 !important;
 	color: #ffffff;
 }
 
 .filter-form ul li button.icon-calendar {
 	background-image: url("../images/icons/ic_calendar.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	background-size: 14px 16px;
 	height: 26px;
 	padding: 5px;
 	width: 34px;
 }
 
.more-icon {
 	background-image: url('../images/icons/ic_more.png');
 	background-position: center center;
 	background-size: auto auto;
 	background-repeat: no-repeat;
 	float: left;
 	margin-top: 4px;
 	width: 15px;
 	height: 19px;
 	cursor: pointer;
 }
 
 .filter-form ul li:first-child {
 	border-radius: 3px 0 0 3px;
 }
 
 .more-filters {
 	background-color: #ffffff;
 	height: auto;
 	padding-top: 10px;
 	position: absolute;
 	right: 0;
 	top: 50px;
 	display: none;
 	width: 191px;
 	box-shadow: -2px 2px 3px -2px #8a8a8a;
 	border-right: 1px solid #efefef;
 }
 
 .filter-form .more-filters li {
 	margin-top: 12px;
 }
 
 .filter-form .more-filters li:last-child {
 	margin-bottom: 15px;
 }
 /* ----- Navigation ----- */
 .navigation, aside {
 	position: fixed;
 	
 	background-color: #ffffff;
 	border-right: 1px solid #e1e9ee;
 	min-height: 70px;
 	overflow-y: auto;
 	position: relative;
 	float: left;
 	overflow: hidden;
 }
 aside {
 	width: 202px !important;
 	height: auto;
 	min-height: 200px;
     border-right: none; 
  }
 
 .navigation ul, aside ul {
 	margin: 0;
 	padding: 0;
 }
 
 .navigation ul li, aside ul li {
 	background-color: #ffffff;
     display: block;
     float: left;
     width: 100%;
 }
 
 .navigation ul li a, aside ul li a {
 	border-bottom: 1px solid #F1F1F3;
     color: #555555;
     cursor: pointer;
     display: block;
     font-weight: 400;
     line-height: 80px;
     list-style: outside none none;
     text-indent: 0;
     border-right: 6px solid #fff;
 }
 
 .navigation ul .active-trail , aside ul .active-trail  {
 	background-color: #f1f1f3;
 }
 .navigation ul .active-trail a , aside ul .active-trail a {
 	border-right: 6px solid #fc0016;
 	color: #fc0016 !important;
 }
 
 .navigation ul li a, aside ul li a{
 	color: inherit;
 	display: block;
 	text-transform: uppercase;
 	width: 172px;
 	background-position: 17px center;
 	background-repeat: no-repeat;
 	background-size: 22px 22px;
 	line-height: 80px;
 	margin-left: -4px;
 	font-size: 13px;
 	text-decoration: none;
 	float: right;
 }
 
 .navigation ul li a:hover, aside ul li a:hover {
 	text-decoration: none;
 }
 
 .navigation ul li .msg-notify, aside ul li .msg-notify {
 	background-color: #ebbe40;
 	background-image: none;
 	border: medium none;
 	border-radius: 50%;
 	display: block;
 	line-height: 1.25em;
 	padding: 1px 8px;
 	position: absolute;
 	right: 8%;
 	text-indent: 0;
 	top: 29px;
 }
 
 .navigation ul li a img {
 	object-fit: none;
 	object-position: 0 0;
 	width: 32px;
 	height: 32px;
 }
 
 .navigation ul li a:hover>img {
 /*	object-position: -32px 0; */
 }
 
 .navigation ul li.selected a>img {
 	object-position: -32px 0;
 }
 
 .navigation ul li.selected {
 	object-position: -32px 0;
 	background-color: #f1f1f3;
 }
 .navigation ul li.selected a {
 	object-position: -32px 0;
 	border-right: 6px solid #fc0016;
 	color: #fc0016;
 }
 
 .navigation ul li .all-icon {
 	background-image: url("../images/icons/Ic_all_gray.png");
 }
 
 .navigation ul li.selected .all-icon {
 	background-image: url("../images/icons/Ic_all_gray.png");
 }
 
 .navigation ul li .trends-icon {
 	background-image: url("../images/icons/ic_trends_gray.png");
 }
 
 .navigation ul li.selected .trends-icon {
 	background-image: url("../images/icons/ic_trends_red.png");
 }
 
 .navigation ul li .leaderboard-icon {
 	background-image: url("../images/icons/ic_leaderboard_gray.png");
 }
 
 .navigation ul li.selected .leaderboard-icon {
 	background-image: url("../images/icons/ic_leaderboard_red.png");
 }
 
 .region ul.menu li, .region ul.links li, .region .item-list ul li {
 	background-image: none;
 }
 
 .navigation ul li .reports-icon, aside ul li .leaf {
 	background-image: url("../images/icons/ic_reports_gray.png");
 }
 
 .navigation ul li.selected .reports-icon, aside ul li.selected .leaf {
 	background-image: url("../images/icons/ic_reports_red.png");
 }
 
 aside ul li .leaf a {
 	background-image: url("../images/icons/ic_reports_gray.png");
 }
 
 aside ul li.selected .leaf a {
 	background-image: url("../images/icons/ic_reports_red.png");
 }
 
 .navigation ul li .newsfeed-icon {
 	background-image: url("../images/icons/ic_news_gray.png");
 }
 
 .navigation ul li.selected .newsfeed-icon {
 	background-image: url("../images/icons/ic_news_gray.png");
 }
 
 .navigation ul li .insights-icon {
 	background-image: url("../images/icons/ic_red_gray.png");
 }
 
 .navigation ul li.selected .insights-icon {
 	background-image: url("../images/icons/ic_red_gray.png");
 }
 
 #breadcrumbs {
 	display: none;
 }
 
 #content {
 	height: auto;
 	min-height: 420px;
 	position: relative;
 	background-color: #ffffff;
 	
 }
 
 .report-header .inner-container {
 	background-color: #E3E3E3;
 	height: 49px;
 }
 
 .report-header h2 {
 	float: left;
 	font-size: 14.5px;
 	font-weight: 600;
 	margin: 17px 0 0 32px;
 	text-transform: uppercase;
 	color: #565656;
 }
 
 .report-header h5 {
 	float: left;
 	border-left: 1px solid #ccc;
 	color: #656565;
 	font-size: 12.5px;
 	font-weight: 300;
 	margin-left: 13px;
 	margin-top: 14px;
 	padding: 4px 0 4px 13px;
 	text-transform: none;
 }
 
 .report-header h3 {
 	background-position: 0 center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	color: #565656;
 	float: right;
 	font-size: 12px;
 	margin: 15px 35px 10px 0;
 	padding: 3px 0 3px 22px;
 }
 
 .report-header h3.download {
 	background-image: url(../images/icons/ic_archive.png);
 }
 
 .report-header h3.bookmark {
 	background-image: url(../images/icons/ic_bookmark.png);
 }
 
 .dash-contents {
 	position: relative;
 	width: 100%;
 }
 
 .contents-dash {
 	width: 73%;
 	height: auto;
 	min-height: 300px;
 }
 
 .aside-dash {
 	width: 27%;
 	height: 300px;
 }
 
 /*contact form  */
 form#contact-site-form #edit-name {
 	margin-left: 70px !important;
 }
 
 form#contact-site-form #edit-mail {
 	margin-left: 5px !important;
 }
 
 form#contact-site-form #edit-subject {
 	margin-left: 90px !important;
 }
 
 /* ------ Footer ------ */
 #footer, footer, .footer {
 	position: relative;
 	height: auto;
 	min-height: 60px;
 	float: left;
 	width: 100%;
 	background-color: #fff;
 	border-top: 1px solid #eee;
 	padding-left:30px;
 	padding-right:30px;
 	  z-index: 89;
 }
 
 .full-wrap {
 	padding: 0 15px;
 	max-width: 100%;
 }
 
 footer .container, .footer .inner-container, #footer .inner-container {
 	border-top: 1px solid #F0F0F0;
 }
 
 .footer_credit {
 	background-color: #fff;
     border: medium none;
     float: none;
     margin: 0 auto;
     max-width: 1400px;
     min-width: 900px;
     padding: 0;
 }
 
 
 .powered-by-logo {
 	float: left;
 	margin: 20px 0 0;
 }
 
 .powered-by-logo p {
 	color: #555555;
 	font-size: 12px;
 	float: left;
 	margin: 2px 8px auto 0;
 }
 
 .footer-menu {
 	float: right;
 	margin: 15px 0;
 }
 
 .footer-menu ul li {
 	float: left;
 	list-style: none;
 	margin: 0 auto;
 }
 
 .footer-menu ul li a {
 	border-right: 1px solid #666666;
     color: #666666;
     font-size: 11px;
     font-weight: 600;
     padding: 0 10px;
     text-decoration: none;
 }
 .footer-menu ul li:last-child a {
 	border-right: none;
 }
 /* ------ Responsive ----- */
 @media screen and (max-width: 1200px) {
 	.col-md-10.col-centered {
 		width: 100%;
 	}
 }
 
 @media screen and (max-width: 992px) {
 	.col-md-10.col-centered {
 		width: 83.33%;
 	}
 	.login-container {
 		width: 100%;
 		margin-top: 20px;
 		margin-bottom: 35px;
 	}
 	.sign-in input[type="text"], .sign-in input[type="password"] {
 		width: 86%;
 		margin-left: 7%;
 	}
 	.sign-in .col-md-12 .col-sm-4 {
 		margin-left: 7%;
 	}
 }
 
 @media screen and (max-width: 620px) {
 	.col-md-10.col-centered {
 		width: 100%;
 	}
 	.brand-logo {
 		float: none;
 		margin: 20px auto;
 		width: 102px;
 	}
 	.powered-by-logo {
 		float: none;
 		margin: 20px auto;
 		width: 122px;
 	}
 	footer {
 		padding-bottom: 12px;
 	}
 	.footer-menu {
 		float: none;
 		margin: 20px auto;
 		width: 373px;
 	}
 	.footer-menu ul {
 		margin: 0;
 		padding: 0;
 	}
 }
 
 @media screen and (max-width: 450px) {
 	.carousel {
 		display: none;
 	}
 }
 
 @media screen and (max-width: 389px) {
 	.login-container {
 		width: 360px;
 	}
 }
 
 .well {
 	min-height: 0px !important;
 	padding: 0px !important;
 	margin-bottom: 0px !important;
 	background-color: transparent !important;
 	border: 0px solid #e3e3e3 !important;
 	border-radius: 0px;
 }
 
 .block-browse-reports {
 	display: none;
 }
 
 .page-title {
 	display: none;
 }
 
 .browse-report-tab {
 	background-color: #fff;
 	display: none;
 	height: 471px;
 	left: 22px;
 	padding: 0;
 	position: absolute;
 	top: 0;
 	width: 1010px;
 	border-radius: 5px;
 }
 
 .browse-report-tab .search-bar {
 	background-color: #E3E3E3;
 	float: left;
 	height: 82px;
 	width: 100%;
 	border-radius: 5px 5px 0 0;
 }
 
 .browse-report-tab .search-bar form {
 	padding: 10px;
 }
 
 .browse-report-tab .search-bar input {
 	background-color: #fff;
 	background-image: url("../images/icons/ic_search.png");
 	background-position: 14px center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	border: 0 none;
 	border-radius: 4px;
 	margin: 24px 0 15px 31px;
 	padding: 9px 0 8px 49px;
 	width: 93.8%;
 	font-color: black;
 }
 
 .browse-report-tab .speach-arrow {
 	background-image: url("../images/icons/ic_top_arrow.png");
 	background-position: center center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	height: 21px;
 	left: 34px;
 	position: absolute;
 	top: -17px;
 	width: 30px;
 }
 
 .browse-report-tab .reports-menu {
 	float: left;
 	width: 100%;
 	height: 350px;
 	max-height: 350px;
 	overflow-y: auto;
 }
 
 .browse-report-tab .reports-menu>ul {
 	float: left;
 	margin: 10px 0 10px 30px;
 	width: 96%;
 	padding: 0;
 }
 
 .browse-report-tab .reports-menu>ul>li {
 	width: 32%;
-	float: left;
 	list-style: none;
 	margin: 22px 1% 0 0;
    	display: inline-block;
    	vertical-align: top;
    	min-height: 40px;
 }
 
 .browse-report-tab .reports-menu>ul>li span {
 	float: left;
 	height: 18px;
 	width: 18px;
 }
 
 .browse-report-tab .reports-menu>ul>li p {
 	float: left;
 	color: #fc0016;
 	font-size: 12.5px;
 	font-weight: 700;
 	text-transform: uppercase;
 	margin: 3px 0 4px 9px;
 }
 
 .browse-report-tab .reports-menu>ul>li p:after {
 	clear: both;
 }
 
 .browse-report-tab .reports-menu>ul>li ul {
 	padding: 0 0 0 0;
 	width: 100%;
 	float: left;
 }
 
 .browse-report-tab .reports-menu>ul>li ul li {
 	color: #555555;
     font-size: 13px;
     font-weight: 300;
     line-height: 27px;
     list-style-type: disc;
     text-decoration: none;
     text-transform: none;
 }
 
 .browse-report-tab .reports-menu>ul>li ul li a {
 	color: inherit;
 	font-size: inherit;
 	text-decoration: none;
 	color: #555555;
 }
 
 .reports-carousel {
 	width: 100%;
 	background-color: #E4E4E4;
 	height: 65px;
 	float: left;
 	border-radius: 0 0 5px 5px;
 }
 /* report tip carousal starts */
 #carousel {
 	position: relative;
 	width: 100%;
 	margin: 0 auto;
 }
 
 #slides, #oneSlider {
 	overflow: hidden;
 	position: relative;
 	width: 80% !important;
 	height: auto;
 	float: left;
 }
 
 #slides ul, #oneSlider ul {
 	list-style: none;
 	width: 100%;
 	min-width: 1024px;
 	height: auto;
 	margin: 0;
 	padding: 0;
 	position: relative;
 }
 
 #slides li, #oneSlider li {
 	width: 100%;
 	height: auto;
 	float: left;
 	text-align: center;
 	position: relative;
 	font-family: lato, sans-serif;
 }
 /* Styling for prev and next buttons */
 .btn-bar {
 	width: 10%;
 	float: left;
 	margin: 0 auto;
 	display: block;
 	/*
 position:relative;
 top:40px;
 */
 }
 
 #buttons {
 	padding: 0 0 5px 0;
 	float: right;
 }
 
 #buttons a {
 	text-align: center;
 	display: block;
 	font-size: 42px;
 	float: left;
 	outline: 0;
 	margin: 0 34px;
 	color: #555555;
 	text-decoration: none;
 	display: block;
 	padding: 0px;
 	width: 35px;
 	height:64px;
 	background-image: url("../images/icons/ic_left.png");
 	background-position: 14px center;
 	background-repeat: no-repeat;
 	background-size: 11px 19px;
 }
 #buttons a#prev {
 	-ms-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
 }
 
 .quoteContainer p, .quote-author {
 	font-family: sans-serif;
 	font-weight: 300;
 	display: table-cell;
 	vertical-align: middle;
 	padding: 5px 20px;
 	font-family: 'Lato', Calibri, Arial, sans-serif;
 }
 
 .quoteContainer p {
 	color: #555555;
     float: left;
     font-size: 14px;
     margin-top: 15px;
     text-align: center;
     width: 100%;
 }
 .quoteContainer p a {
 	color: inherit;
 	text-decoration: none;
 	font-weight: 600;
 	font-size: 14.5px;
 }
 
 .quoteContainer, .authorContainer {
 	display: table;
 	width: 100%;
 }
 /* report tip carousal ends */
 .report-header .inner-container {
 	background-color: #E3E3E3;
 	height: 49px;
 }
 
 .report-header h2 {
 	float: left;
 	font-size: 14.5px;
 	font-weight: 600;
 	margin: 17px 0 0 32px;
 	text-transform: uppercase;
 	color: #565656;
 }
 
 .report-header h5 {
 	float: left;
 	border-left: 1px solid #ccc;
 	color: #656565;
 	font-size: 12.5px;
 	font-weight: 300;
 	margin-left: 13px;
 	margin-top: 14px;
 	padding: 4px 0 4px 13px;
 	text-transform: none;
 }
 
 .report-header h3 {
 	background-position: 0 center;
 	background-repeat: no-repeat;
 	background-size: auto auto;
 	color: #565656;
 	float: right;
 	font-size: 12px;
 	margin: 15px 35px 10px 0;
 	padding: 3px 0 3px 22px;
 }
 
 .report-header h3.download {
 	background-image: url(../images/icons/ic_archive.png);
 }
 
 .report-header h3.bookmark {
 	background-image: url(../images/icons/ic_bookmark.png);
 }
 
 .report-header h3.retry {
 	background-image: url(../images/icons/ic_reply.png);
 }
 
 .logoLi {
 	pointer-events: none;
 	cursor: default;
 }
 
 .tooltip {
 	background-color: lightyellow;
 }
 
 /* Widget Container */
 .widget-container {
 	width: 90%;
 	 margin: 120px auto;
 	height: auto;
 	min-height: 200px;
 }
 .widget-container:first-child {
 	margin-top:40px;
 	}
 .widget-container .inner-container {
 	border-radius: 5px;
 	float: left;
 	height: auto;
 	box-shadow: 0 0 8px -3px #5a5a5a;
 	margin-bottom: 40px;
 }
 
 .widget-head {
 	background-color: #666666;
 }
 
 .widget-head, .widget-body, .widget-footer {
 	border-bottom: 1px solid #DFDFDF;
 	float: left;
 	width: 100%;
 }
 
 .widget-body {
 	position: relative;
 	background-color: #E3E3E3;
 	height: 213px;
    overflow-y: auto;
    padding: 0 20px;
    
 }
 .threadBlock {
 	max-height:213px;
 	overflow-y: auto;
 }
 .widget-inner {
 	position: relative;
 	width: 100%%;
 	margin: 0;
 }
 
 .widget-head {
 	border-radius: 3px 3px 0 0;
 	min-height: 48px;
 	height: auto;
 }
 
 .widget-footer {
 	background-color: #ffffff;
 	border-radius: 0 0 3px 3px;
 	min-height: 48px;
 	height: auto;
 }
 
 .widget-footer ul {
 	padding: 0 0 0 21px;
 	margin: 0;
 }
 
 .widget-heading {
 	background-position: 19px center;
 	background-repeat: no-repeat;
 	border-right: 1px solid #9f9f9f;
 	color: #fff;
 	float: left;
 	min-width: 131px;
 	width: auto;
 }
 
 .widget-heading p {
     float: left;
 	font-size: 14px;
     font-weight: 600;
     margin: 15px 0;
     /* padding-left: 15px; */
     padding-right: 22px;
     text-indent: 7px;
     text-transform: uppercase;
 }
 
 .widget-breadcrumb {
 	font-size: 14px;
 	font-weight: 100;
 	color: #fff;
 	min-width: 30%;
     width: auto;
 	float: left;
 }
 .widget-head img {
     object-fit: none;
     object-position: 0px -32px;
     width: 32px;
     height: 32px;
     float: left;
     margin-top: 8px;
     margin-left: 15px;
 }
 .widget-newsfeed img {
     object-position: center center;
 }
 .widget-breadcrumb p {
 	margin-top: 15px;
 	text-indent: 21px;
 	color: #E3E3E3;
 }
 
 .widget-breadcrumb p span {
 	text-transform: uppercase;
 	font-weight: 600;
 }
 
 .widget-time {
 	border-left: 1px solid #9f9f9f;
 	color: #fff;
 	float: right;
 	font-size: 13px;
 	font-weight: 100;
 	padding-left: 15px;
 	min-width: 215px;
 	width: auto;
 	margin-top: 13px;
 }
 
 .widget-time p {
 	margin: 3px 20px 3px 0;
 	font-style: italic;
 	color: #E3E3E3;
 	font-size: 12px;
 }
 
 .widget-time p b {
 	font-style: normal;
 	color: #E3E3E3;
 }
 
 .widget-footer ul li {
 	float: left;
 	padding: 13px 5px 13px 30px;
 	list-style: none;
 	font-size: 12px;
 	color: #666666;
 	background-repeat: no-repeat;
 	background-position: 6px center;
 	cursor: pointer;
 }
 .widget-footer ul li a ,.widget-footer p a {
 	color: inherit;
 	text-decoration: none;	
 }
 
 .widget-footer ul li.tags {
 	background-image: url("../images/icons/ic_tagged.png");
 }
 
 .widget-footer ul li.comments {
 	background-image: url("../images/icons/ic_comment.png");
 }
 
 .widget-footer ul li.bookmark {
 	background-image: url("../images/icons/ic_bookmark.png");
 }
 
 .widget-footer p {
 	/*width: 200px; */
 	float: right;
 	margin: 14px 30px 14px 0px;
 	color: #00A09F;
 	font-size: 12px;
 	font-style: italic;
 	letter-spacing: 0.5px;
 }
 

 
 .widget-footer p span {
 	color: #777777;
 	font-size: 12px;
 	font-style: normal;
 	letter-spacing: 0;
 	font-weight: 400;
 }
 /* Widget Report */
 .widget-report .widget-heading {
 	background-image: url("../images/icons/ic_trends_gray.png");
 }
 
 .widget-overlay {
 	position: absolute;
 	bottom: 49px;
 	width: 100%;
 	height: 80px;
 	background-color: rgba(0, 0, 0, 0.5);
 }
 
 .widget-overlay a {
 	display: block;
 	text-align: center;
 	color: #fff;
 	font-size: 14px;
 	padding: 47px 0 6px;
 	text-decoration: none;
 	cursor: pointer;
 	background-image: url("../images/icons/ic_zoom.png");
 	background-position: center 20px;
 	background-repeat: no-repeat;
 }
 
 .widget-body iframe {
 	width: 100%;
 	border: none;
 }
 
 /* Newsfeed Widget */
 
 .widget-news .widget-heading{
 	background-image: url("../images/icons/ic_newsfeed_w.png");
 }
 
 .widget-image {
 	width: 34%;
 	margin-right: 3%;
 	margin-bottom: 30px;
 }
 
 .widget-image img {
 	width: 100%;
 	height: 150px;
 	max-height: 150px;
 	margin-top:30px;
 }
 
 .widget-contents {
 	padding: 26px 30px;
 	width: 63%;
 	background-color: #ffffff;
 	color: #555555;
 	margin-bottom: 30px;
 	height: 150px;
 	max-height: 150px;
 	margin-top:30px;
 }
 
 .widget-contents h2 {
 	font-size: 14px;
     font-weight: 600;
     margin-bottom: 11px;
     margin-top: 0;
 }
 .widget-contents h2 a{
 	color:inherit;
 }
 .widget-contents p {
 	font-size: 12.5px;
 	margin-bottom: 0;
 }
 
 .widget-image img, .widget-contents {
 	border-radius: 3px;
 }
 
 /* Widget Container Ends here*/
 
 #toolbar {
     box-shadow: none;
 }
 
 /* Tool Tip */
 .call-tooltip {
     position: relative;
     cursor: pointer;
 }
 .my-tooltip {
     position: absolute !important;
     padding: 12px 9px;
     border: 1px solid #FF8C1B;
     background-color: #FFEC94;
     z-index: 999;
     top: -50px;
     height: auto;
     min-height: 20px;
     border-radius: 3px;
     display:none;
     width: auto;
     min-width: 215px;
     margin-top: 5px;
 }
 .social-login .my-tooltip {
     left: 14%; 
     top: 8px;
 }
 .my-tooltip>span {
     position: absolute;
     top: 100%;
     width: 100%;
     height: 7px;
     background-image: url("../images/icons/ic_tip.png");
     background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
 }
 .my-tooltip h2 {
     color: #555555;
     font-size: 13px;
     margin: 0;
     font-weight: 600;
 }
 .my-tooltip h2 span {
     color: #FF8C1B;
     font-weight: 300;
 }
 .call-tooltip:hover > .my-tooltip {
     display:block;
 }
  /* Popup for widget container (Messaging and tagging)*/

 
.widget-popup {
    height: 102% !important;
    top: 0 !important;
    position: absolute !important;
    z-index: 9997;
}
 .widget-tab {
      margin: 50px auto;
     width: 744px;
 }
 .widget-tab .widget-footer {
     border-radius: 0;
 }
 .widget-tab .widget-footer ul {
     padding: 0;
     margin: 0;
 }
 .widget-tab .widget-footer ul li {
     padding:14.5px 6px 14px 53px;
     background-position: 30px center;
 }
 .widget-eng-selected {
     border-bottom: 2px solid #fc0016;
 }
 .widget-messaging {
     display: none;
 }
 .widget-tagging {
     display: none;
 }
 .widget-tab .message-body {
     border-bottom: 1px solid #E3E3E3;
     height: 285px;
     padding: 0;
     overflow: hidden;
 }
 .widget-tab .message-body #comment-list{
     border-bottom: 1px solid #E3E3E3;
     height: 190px;
     overflow-y: auto;
     padding: 0 15px;
 }
 
 .message-body .message-content:last-child {
     border: none;
 }
 .message-body.jquery-comments .navigation {
 	display: none;
 }
 .widget-engage {
     background-color: #fff;
    float: left;
    height: 285px;
    width: 100%;
 }
 .commenting-field {
 	/*padding: 15px 20px; */
 }
 .widget-engage .message-icon {
     width: 12%;
 }
 .widget-engage .message-icon img {
     width: 38px;
     height: auto;
 }
 .widget-engage .message-subject {
     width: 88%;
 }
 .message-content.widget-textfield {
     border: none;
 }
 .widget-textfield .message-icon img {
     margin: 24px 0 0 21px;
 }
 .message-body .comment  {
 	width: 100%;
 }
 .widget-textfield .message-type {
     width: 88%;
     float: left;
 }
 .widget-textfield .message-form {
     width: 87%;
     float: left;
 }
 .widget-textfield .message-form textarea, .message-body .textarea {
     border: 1px solid #cccccc;
     border-radius: 3px;
     height: 37px;
     margin: 25px 0;
     padding: 6px 8px;
     /* width: 70%; */
 }
 .widget-textfield .emoticon {
     width: 13%;
     float: left;
 }
 .widget-textfield .emoticon img {
     margin: 30px 0 0 21px;
 }
 
 .tagging-body {
     border-bottom: 1px solid #e3e3e3;
     float: left;
     height: 215px;
     overflow-y: auto;
     padding:29px 15px;
     width: 100%;
 }
 .tagging-body ul {
     margin: 23px 0;
     float: left;
     width: 100%;
     padding: 0;
 }
 .tagging-body li {
     width: 33.33%;
     border-right: 1px solid #ccc;
     float: none;
     padding: 0 0 4px;
     list-style: none;
     vertical-align: top;
     display: inline-block;
     position: relative;
 }
 .tagging-body li:nth-child(3n+0) {
     border-right: none;
 }
 .tagging-body li img {
     border-radius: 50%;
     float: left;
     height: auto;
     margin: 0 0 3px 10px;
     width: 43px;
 }
 .tagging-body li h3 {
     color: #555555;
     float: left;
     font-size: 14px;
     margin: 14px 0 0 10px;
     text-transform: uppercase;
     font-weight:600;
   }
 .tagging-body li span {
    width: 20px;
     height: 25px;
     right: 10px;
     position: absolute;
 	}
 .tagging-body li span:after {
 	content: 'x';
     font-size: 20px;
     top: 0;
     margin: 0;
 }
 .widget-tagging .message-type .message-form {
     width: 94%;
     margin-top: 22px;
 }
 .widget-tagging .message-type .message-form input::-webkit-input-placeholder { /* Chrome */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input:-ms-input-placeholder { /* IE 10+ */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input::-moz-placeholder { /* Firefox 19+ */
  text-transform: capitalize;
}
 .widget-tagging .message-type .message-form input:-moz-placeholder { /* Firefox 4 - 18 */
  text-transform: capitalize;
}
 .widget-tagging .widget-textfield .message-icon img {
     border-radius: 0;
    height: auto;
    margin: 31px 0 0 30px;
    width: 23px;
 }
 
 .tt-dataset-usernames {
     background-color: #fff;
     border: 1px solid #efefef;
     border-radius: 0 0 3px 3px;
     width: 400px;
     margin: 7px 0 0
     }
 .tt-suggestion {
 	padding: 3px 7px;
     text-transform: uppercase;
 }
 .message-close {
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 50%;
     color: #fff;
     font-size: 18px;
     font-weight: 600;
     height: 38px;
     padding: 6px 0 0;
     position: absolute;
     right: -19px;
     text-align: center;
     top: -19px;
     width: 38px;
     cursor: pointer;
 }
 
 
 .jquery-comments ul.main:empty ~ .no-comments {
 	margin-top:-100px;
 }
 .bootstrap-tagsinput {
     width: 100%;
     height: 34px;
 }
 /* Profile Container */
 
 .profile-content, .settings-content {
     width: 83%;
     margin:20px 3% 0;
     height: auto;
     min-height: 100px;
 }
 .profile-content .inner-container, .settings-content .inner-container {
     background-color: #F1F1F3;
     margin-bottom: 20px;
     padding: 30px 5px 8px;
     border-radius: 3px;
 }
 .profile-pic {
     width: 150px;
     height: 148px;
     margin: 0 auto;
     position: relative;
     overflow:hidden;
 }
 
 .upload-pic {
     width: 150px;
     position: absolute;
     bottom: 0;
     left: 0;
     height: 36px;
     text-indent: 41px;
     line-height: 34px;
     background-color: rgba(0,0,0,0.5);
     background-image: url("../images/icons/ic_camera.png");
     background-size: 14px 13px;
     background-position: 19px center;
    background-repeat: no-repeat;
    color: #fff;
 }
 .upload-pic a, .upload-pic a:hover, .upload-pic a:visited {
     color: inherit;
     text-decoration: none !important;
 }
 .profile-pic img {
     width: 100%;
     height: auto;
 }
 .profile-details h3 {
     width: 47%;
     margin-right: 3%;
     float: left;
     max-height: 55px;
     font-size: 14px;
     color: #545454;
     font-weight: 600;
     text-indent: 37px;
     border-bottom: 1px solid #E5E6EB;
     line-height: 30px;
     margin-top: 0;
     margin-bottom: 30px;
     background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
 }
 .profile-details .profile-name {
     background-image: url("../images/icons/ic_name.png");
     background-size: 16px 16px;
 }
 .profile-details .profile-email {
     background-image: url("../images/icons/ic_mail.png");
     background-size: 20px 16px;
 }
 .profile-details .profile-sex {
     background-image: url("../images/icons/ic_profile.png");
     background-size: 22px 22px;
 }
 .profile-details .profile-number {
     background-image: url("../images/icons/ic_phone.png");
     background-size: 16px 16px;
 }
 .profile-details .profile-date {
     background-image: url("../images/icons/calendar.png");
     background-size: 16px 14px;
 }
 .profile-details .profile-adress {
     background-image: url("../images/icons/ic_location.png");
     background-size: 11px 16px;
 }
 .profile-edit {
     background-image: url("../images/icons/ic_edit.png");
     background-position: 3px 2px;
     background-repeat: no-repeat;
     background-size: 13px 13px;
     float: right;
     width: 22px;
     height: 20px;
     margin-top: 8px;
     cursor: pointer;
 }
 
 .editableform-loading {
   min-width: 264px !important;
 }
 
 #ui-datepicker-div {
   z-index: 9999 !important;
   display: none;
 }
 /* Profile Container End */
 
 /* Loading animations */
 
 .loading-overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #ccc;
     background-image: url('../images/icons/loading_spinner.gif');
     background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px auto;
   display: none;
 }
 
 #errorTxt {
 	color:#fc0016;
 }
 .message-body h4 {
 	text-align: center;
 	padding: 20px auto;
 	color:#fc0016;
 }
 #loadMore {
    background-color: #555555;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin: 0 auto 50px;
    border-radius: 3px;
    transition: all 0.5s ease 0s;
 }
  #loadMore:hover {
    background-color: #777777; 
 }
/* User Profile Settings Container */

.settings-content .filter-form {
	width: 780px;
	margin: 0 auto;
	float: left;
}
.settings-content .setting-container {
	background-color: #f1f1f3;
	width: 800px;
	float: left;
	padding: 10px 15px;
	border-radius: 2px;
}
.settings-content {
	float: left;
}
.settings-content h1 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 16px;
	margin-top: 5px;
} 

.settings-content .inner-container {
	background-color:#fff;
	padding: 0 5px;
}
.settings-content label {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
	font-size: 13px !important;
	font-weight: 300;
}
.settings-content .time-zone .select-container {
	width: 90px;
	}
.settings-content .time-zone .select-container span {
	background-position: 69px 9px;
}
.settings-content .filter-form form > ul > li button.icon-calendar {
	height: 27px;
}
.setting-container .filter-form ul li {
    float: left;
}
.time-zone label {
	margin-left: 10px;
}
.settings-content .password-setting {
	padding: 0 15px;
	cursor: pointer;
}
.settings-content .password-setting h2 {
	width: auto;
	padding: 10px 30px 8px 0;
	height: 40px;
	margin: 0;
	font-size: 19px;
	border: none;
	background-color: transparent;
	border-right: 1px solid #ccc;	
	float: left;
	padding-bottom: 8px;
	color: #555555;
}
.settings-content .change-password {
	border: 1px solid #ccc;
	float: left;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	background-color: #ffffff;
	display: none;
}
.settings-content input[type="password"] {
    background-repeat: no-repeat;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
    box-shadow: none;
    color: #555555;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #e1e9ee !important;
    width: 29%;
    margin: 20px 2%;
}
.settings-content input[type="submit"], .settings-content input[type="reset"] {
	width: 30%;
	float: left;
	margin: 15px 10% 14px;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 3px;
}
.settings-content input[type="submit"] {
	background-color: #00A8A5;
	color: #ffffff;
  background-image: none !important;
}
 .settings-content input[type="reset"] {
 	background-color: #ffffff;
 	border: 1px solid #ccc;
 	color: #555555;
 }
.password-setting p {
	font-size: 12px;
	color: #ccc;
	font-style: italic;
	width: 310px;
	float: left;
	margin-top: 10px;
	text-align: right;
}
.password-setting .profile-edit {
	height: 23px;
	width: 30px;
	border-left: 1px solid #ccc;
	background-position: 10px 3px;
}
.filter-form ul li {
  display: inline-block;
}
.report-period-filters {
  text-transform: uppercase;
}
.period-filter, #group_filter, #currency_filter {
  text-transform: uppercase;
}
.selected-period-filter {
  background-color: #EA3836 !important;
  color: #ffffff !important;
}
.passwordmessage {
  user-select: none;
}
.passwordmessage.error {
  color: red;
}
.passwordmessage.success {
  color: green;
  font-size: 14px;
}
#password_rules_hint {
  font-style: italic;
  color: grey;
}
#wait {
  display: none;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
}
#user_address {
  border-bottom: none !important;
  text-align:justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555555;
  max-width: 80%;
}
.profile-adress {
  max-height: 40px !important;
}
.profile-adress span.profile-edit {
  margin-top: -25px  !important;
}
.editable-click, #user_email {
  border-bottom: none !important;
  color: #555555 !important;
}
#timezone_filter {
  max-width: 100% !important;
}
/* User Profile Settings Container End */

.bigS{
    font-size:8em;
    margin-left:35%;
}

.full_loader {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    background-image: url('../images/ajax-loader.gif');
    background-position: center center;
   background-repeat: no-repeat;
   background-size: 150px auto;
    z-index: 9999;
}
.daterangepicker .calendar{
  width: auto !important;
}
.daterangepicker .calendar-table th{
  background: none !important;
  color: #000 !important;
}
.no_posts { 
	text-align: center; 
	color: #5a5a5a; 
	font-size: 18px; 
}

.errorMsg, .errorMsg2 { 
	text-align: center;
    color: #fc0016;
    background-color: #ffffff;
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    width: 100%;
}

.errorMsg2 {  
	bottom: 62px;
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    margin: 0 5%;
}

/* Recently Viewed Reports*/
.recent-reports {
    width: 100%;
    border: 1px solid #e3e3e5;
    float: left;
    margin-top: 0;
    color: #555555;
}
.recent-reports .recent-reports-head {
    border-bottom: 1px solid #e3e3e5;
    float: left;
    padding:  15px 0;
    width: 100%;
}
.recent-reports .recent-reports-head span {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-image: url(../images/icons/ic_recently.png);
    float: left;
    height: 17px;
    margin: 0 9px 0 12px;
    padding: 0 18px 0 0;
    width: 17px;
}
.recent-reports .recent-reports-head h2 {
    font-size: 14px;
    color: #555555;
    font-weight: 600;
    float: left;
    text-transform: uppercase;
    margin:0 17px 0 5px;
}
.recent-reports-body ul {
    padding: 0;
    margin: 0 9%;
    width: 82%;
}
.recent-reports-body ul li {
    width:100%;
    float: left;
    list-style: none;
    border-bottom: 1px solid #e3e3e5;
    padding: 19px 0 22px;
}
.recent-reports-body ul li h2 {
    width: 69%;
    font-size: 11px;
    color: #FB6C6C;
    font-weight: 600;
    text-transform: uppercase;
    margin:0 0 9px;
    float: left;
}
.recent-reports-body ul li h6 {
    width: 31%;
    float: right;
    font-size: 12px;
    color: #cccccc;
    font-weight: 400;
    text-align: right;
    margin-top: 0;
    margin-bottom: 4px;
                }
.recent-reports-body ul li a {
    float: left;
    width: 100%;
    text-decoration: none;
}
.recent-reports-body ul li h3 {
    font-size: 13px;
    color: #555555;
    font-weight: 500;
    margin:0;
    width: 90%;
    float: left;
    line-height: 16px;
}
.recent-reports-body ul li span {
    background-image: url("../images/icons/ic_arrow.png");
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 11px;
    margin-top: 5px;
    width: 10%;
}
.recent-reports-body ul li:last-child {
    border: none;
}

/* Mobile contents */

.mobile-filter-menu, .mobile-filter-form, .mobile-content, .mobile-filter-menu, .mobile-filter-form{	
	display: none;
}