@-ms-viewport{
  width: device-width;
}
/* ------ Responsive ----- */
@media screen and (max-width: 1210px) {
	.filter-form {
		width: 55%;
	}
	.period-filter-desk {
		background: #ffffff none repeat scroll 0 0;
		border: 1px solid #efefef;
		display: none;
		padding: 16px 20px;
		position: absolute;
		right: 0;
		top: 66px;
		box-shadow: -3px 2px 6px -3px #8a8a8a;
	}
	.filter-more-icon {
		display: block;
	}
}
@media screen and (max-width: 1116px) {
	.widget-time {
		float: left;
		margin-top: 0;
		margin-left: -1px;
	}
}
@media screen and (max-width: 1034px) {
	.navigation ul li a span, aside ul li a span, .navigation div a span {
		margin : 26px 0 0;
	}
	.nav-mobile.navigation ul li a span, .nav-mobile.navigation div a span {
		margin : 0;
	}
	.browse-report-tab {
		left: 10px;
	}
	.footer_credit {
		min-width: 100%;
	}
	.aside-dash {
		display: none;
		height: auto;
		width: 100%;
	}
	
	.contents-dash {
		width: 100%;
	}
	aside {
		width: 21% !important;
	}
	.contents-dash {
		width: 100%;
	}
	.widget-time {
		float: right;
		margin-top: 13px;
		margin-left: 0;
	}
}
@media screen and (max-width: 1020px) {
	/* #toolbar {
		height: 30px;
		overflow: hidden;
	} */

	 .section-container {
		min-width: 320px;
	 }
	 .browse-report-tab {
		 width: 760px;
	 }
	 .browse-report-tab .reports-menu > ul > li {
		 width: 47%;
	 }
	 .filter-form {
		 margin-right: 10px;
	 }
	 
}
@media screen and (max-width: 985px) {
	section#post-content {
		width: 100%;
		margin: 0%;
	}
	/* .header-right ul li.name-label .profile-tab {
		height: 188px;
		width: 192px;
	} */
	.recent-report-menu {
		display: none;
	}
	.region-content .block-block {
		width: 100%;	
	}
	#block-user-login, .sign-in.row {
		margin-left: 0;
		width: 100%;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		margin-left: 5%;
		width: 89%;
	}
	.form-item-remember-me {
	    margin-left: 5%;
	    width: 44%;
	}
	#user-login-form .item-list li.first {
		width: 46%;	
	}
	#edit-actions {
	width: 100%;	
	}
	 .filter-form {
		width: 61%;
	 }
	
	
	.recent-reports {
		display: none;
		width: 90%;
		margin: 0 5%;
		top: 100px;
		z-index: 999;
		background-color: #fff;
		padding: 0 32px;
	}
}
@media screen and (max-width: 897px) {
	.download, .retry  {
		margin: 15px 13px 10px 0;
	}
}
@media screen and (max-width: 897px) {
	.widget-time {
		float: left;
		margin-top: 0;
		margin-left: -1px;
	}
	/* Report Page */
	.download, .retry , .report-timer{
		min-height: 22px;
		min-width: 23px;
		margin: 15px 20px 10px 0;
	}
	.download span, .retry span, .report-timer span{
		display: none;
	}
	.report-dashboard-link {
		padding: 9px 1px;
	}
}
@media screen and (max-width: 860px) {
	body {
		padding: 0 !important;
	}
	#toolbar {
		display: none !important;
	}
	aside {
		width: 24% !important;
	}
	.filter-form {
		display: none;
	}
	.sub-header .sub-brand-logo {
		border: none;
	}
	.mobile-filter-menu {
		background-image: url(../images/icons/ic_filter.png);
		background-size: 16px 16px;
		background-position: center center;
		display: block;
		float: right;
		height: 20px;
		margin: 20px 20px 0 0;
		width: 32px;
		background-repeat: no-repeat;
	}
	.mobile-filter-form {
		display: none;
	}
	.mobile-filter-form {
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		position: fixed;
		border: 1px solid #efefef
	}
	.mobile-filter-section-filter {
		width: 100%;
		float: left;
	}
	.mobile-filter-section {
		width: 400px;
		margin: 0 auto;
		position: relative;
	}
	.mobile-filter-section ul {
		padding: 0;
		margin: 0;
	}
	.mobile-filter-section ul  li {
		list-style: none;
		width: 100%;
	}
	.mobile-filter-section ul  li label {
		float: left;
		width: 100%;
		color: #BFBFBF;
		font-weight: 300;
		margin-top: 14px;
	}
	.mobile-filter-section ul  li .select-container {
		width: 100%;
		padding: 0;
		height: 30px;
		background-color: #FAFAFA;
		border: 1px solid #cecece;
		border-radius: 0;
	}
	
	.mobile-filter-section ul  li .select-container .select-inner-container {
		width: 100%;
		
	}
	.mobile-filter-section select {
		background-image: url("../images/icons/ic_dropup.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 13px 6px;
		background-color: #FAFAFA;
		color: #7B7B7B;
		outline: none;
		background-position: 96% 13px !important;
		border: medium none;
		padding: 4px 0;
		width: 100%;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	/*.mobile-filter-section button {
		width: 100%;
		padding: 13px 0;
		background-color: #AEAEAE;
		border: none;
		background-image: none;
		box-shadow: none;
		border-radius: 0;
		font-size: 13px;
		margin-top: 60px;
	}*/
	.mobile-filter-section button {
		background-color: #aeaeae;
		background-image: none;
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		font-size: 13px;
		margin-right: 1%;
		margin-top: 6px;
		padding: 6px 0;
		width: 24%;
	}
	.mobile-filter-section .icon-calendar {
		padding: 30px;;
		display: none;
	}
	.selected-period-filter {
		 background-color: #eb3534 !important;
		color: #ffffff !important;
	}
	.icon-calendar.selected-period-filter {
		background-color: #aeaeae !important;
		color: #555555 !important;
	}
	.filter-form-heading  {
		float: left;
		width: 100%;
		height: auto;
		min-height: 40px;
		box-shadow:  0px 16px 5px -18px #9a9a9a;
	}
	.filter-form-heading h3 {
		float: left;
		font-size: 15px;
		color: #2a2a2a;	
		margin: 17px 0;
	}
	.close-filter {
		float: right;
		font-size: 20px;
		margin: 0;
		opacity: 0.5;
		padding: 14px 15px 6px;
		font-weight: 600;
	}
	.settings-content input[type="password"], .settings-content input[type="text"] {
		width: 96%;
	}
	.settings-content input[type="submit"] {
		margin: 15px 8% 15px 19.5%;
	}
	.settings-content input[type="submit"], .settings-content input[type="reset"] {
		width: 27.5%;
	}
}
@media screen and (max-width: 792px) {
	.header {
		min-height: 80px;
	}
	.header .inner-container {
		padding: 26px 0 15px 20px;
	}
	.header-right ul li:first-child {
		margin-top: -8px;
	}
	.logoLi img {
		width: 84px;
	}
	.browse-report-button {
		float: left;
		font-size: 0px;
		font-weight: 200;
		height: 32px;
		line-height: 28px;
		padding: 8px 11px 8px 25px;
		text-indent: -10px;
		width: 40px;
		transition: all 1s ease;
		margin-right: 20px;
	}
	.browse-report-tab {
		 width: 100%;
		 left: 0;
	 }
	 .browse-report-tab .search-bar {
		 height: 49px;
	 }
	 .browse-report-tab .search-bar input {
		 margin: 12px 2%;
		 padding: 3px 0 3px 49px;
	 }
	 .browse-report-tab .reports-menu>ul {
		 width: 94%;
	 }
	 .browse-report-tab .reports-menu > ul > li {
		 width: 47%;
	 }
	.browse-report-tab .speach-arrow {
		left: 26px;
	}
	.browse-report-tab .search-bar {
		border-radius: 0;
	}
	.message-tab {
		right: 10px;
	}
	.notification .speach-arrow {
		right: 64px;
		top: -17px;
	}
	.reports-carousel {
		display: none;
	}
	.header-right ul li {
		float: left;
		border: none;
	}
	.header-right {
		
	}
	.logoLi {
		display: none;
	}
	.logo-container {
		display: block;
		width: 75%;
		float: left;
		margin-top: -7px;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.logo-container img {
		vertical-align: middle;
	}
	.sub-header {
		height: 60px;
	}
	.desktop-content {
		display: none;
	}
	.header-right ul li.name-label .mobile-content {
		display: block;
		margin-top: 0;
		width: 30px;
		height: 27px;
		margin-bottom: 0;
	}
	.header-right ul li.name-label {
		padding: 2px 0;
	}
	.header-right ul li.name-label .mobile-content span{
		background-image: url("../images/icons/ic_more.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto auto;
		width: 3px;
		padding: 0;
		height: 17px;
	}
	.header-right ul li.name-label .profile-tab {
		top: 49px;
		/* width: 200px; */
		height: 116px;
	}
	.browse-report-tab .reports-menu {
		padding: 0 10px;
	}
	/* Navigation */
	aside {
		z-index: 999;
		overflow-x: auto;
		width: 100% !important;
		box-shadow: 0 0 4px 1px #5a5a5a;
	}
	.navigation, aside {
		min-height: 32px;
		box-shadow: 0 3px 4px -4px #8a8a8a;
	}
	.navigation {
		display: none;
	}
	.navigation.nav-mobile {
		display: block;
		background-color: #ffffff;
		overflow: unset;
		white-space: nowrap;
		border: none;
	}
	.navigation.nav-mobile ul {
		margin-bottom: 0;
	}
	.navigation.nav-mobile div {
		list-style: none;
		display: inline-block;
		color: #5a5a5a;
		text-align: center;
		padding: 14px 35px;
		text-decoration: none;
		width: auto;
		border: none;
		width: auto;
		border: none;
	}
	.navigation.nav-mobile .nav-menu a {
		text-decoration: none;
		color: #5a5a5a;
	}
	.navigation.nav-mobile .nav-menu.selected a {
		text-decoration: none;
		color: #eb3534;
	}
	
	.navigation.nav-mobile .selected a > img {
		object-position: -32px 0;
	}
	.navigation.nav-mobile a img {
		height: 32px;
		object-fit: none;
		object-position: 0 0;
		width: 32px;
	}
	
	body.sidebar-first #content {
		width: 100% !important;
	}
	
	/* Widgets or cards */
	.widget-popup .widget-head, .widget-popup .widget-body {
		display: none;
	}
	.widget-tab {
		width: 100%;
	}
	.widget-engage {
		height: 259px;
	}
	.widget-tab .message-body {
		height: 259px;
	}
	.threadBlock {
		min-height: 180px;
	 }
	 .widget-heading {
		width: 50px;
		border: none;
		min-width: 50px;
	}
	.widget-heading span {
		margin: 6.5px 0 0 19px;
	}
	.widget-heading p {
		margin: 15px 0 0;
		display: none;
	}
	.widget-breadcrumb {
		width: 83%;
	}
	.widget-breadcrumb p {
		margin-top: 11px;
		text-indent: 0;
		margin-bottom: 0;
	}
	.widget-breadcrumb h3 {
		margin: 13px 0 0;
		white-space: normal;
	}
	.bread-icon {
		margin: 12.5px 8px 0;
	}
	.widget-time {
		float: left;
		margin-top: 0;
		padding-left: 0;
		width: 100%;
		text-indent: 22px;
		border-left: none;
	}
	.widget-time p {
		margin: 0 20px 3px 0;
	}
	.widget-footer ul {
		float: left;
		margin: 0;
		padding: 0 0 0 12px;
		width: 100%;
	}
	.widget-footer ul li a span{
		display: none;
	}
	.widget-footer p {
		margin: 0 20px 3px 0;
		box-shadow: 0px 3px 5px -5px #7a7a7a inset;
		padding: 5px 0 2px 24px;
		float: left;
		width: 100%;
	}
	.widget-tagging .widget-textfield .message-icon img {
		margin: 11px 0 0 16px;
	}
	.widget-body {
		padding: 0 10px;
	}
	.widget-tagging .message-type .message-form {
		margin-top: 9px;
	}
	
	/* Profile page */
	.profile-content, .settings-content {
		width: 90%;
		margin: 20px 5% 0;
	}
	.profile-pic {
		margin: 0 auto 4px;
	}
	.profile-details h3 {
		width: 100%;
	}
	.profile-details h3:last-child {
		margin: 0;
	}
}
@media screen and (max-width: 690px) {
	.logo-container {
		width: 70%;
	 }
	
	.bootstrap-tagsinput {
		height: 27px;
	}
}
@media screen and (max-width: 620px) {
	.col-md-10.col-centered {
		width: 100%;
	}
	.brand-logo {
		float: none;
		margin: 20px auto;
		width: 102px;
	}
	.browse-report-tab .reports-menu>ul {
		margin: 10px 0 10px 10px;
	}
	.browse-report-tab .reports-menu > ul > li {
		 width: 95%;
	 }
	 .mobile-filter-section {
		 width: 90%;
	 }
	 .header {
		 min-height: 71px;
	 }
	 .header .inner-container {
		 padding: 21px 0 3px 20px;
	 }
	 .sub-header {
		 height: 55px;
	 }
	 .sub-header .sub-brand-logo {
		 margin-top: 8px;
	 }
	 .mobile-filter-menu {
		 margin: 14px 20px 0 0;
	 }
	 li > .report-accord-drop {
		display: none;
	}
	p.report-accord {
		width: 85%;
		background-image: url("../images/icons/ic_dropup.png");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: auto auto;
	}
	p.browse-report-up {
		background-image: url("../images/icons/ic_dropdowen.png");
		transition: all 0.5s ease;
	}
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	.widget-contents {
		padding: 10px 20px;
		overflow: hidden;
	}
	.widget-contents h2 {
		margin-bottom: 3px;
	}
	.widget-footer, .widget-footer-reports {
		min-height: 26px;
	}
	.no-comments {
		display: none;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		 float: left;
		margin: 20px auto;
		width: 100%;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
		width: 100%;
		float: left;
	}
	.footer-menu ul li {
		width: 100%;
		text-align: center;
	}
	.footer-menu ul li a {
		border: none;
	}
	.settings-content .setting-container {
		width: 100%;
	}
	.settings-content .filter-form {
		width: 100%;
	}
	.setting-container .filter-form ul li label {
		width: 100%;
	}
	.setting-container .filter-form ul li {
		margin: 5px 0;
		width: 100%;
	}
	.settings-content input[type="password"], .settings-content input[type="text"] {
		width: 96%;
	}
	.settings-content input[type="submit"] {
		width: 100%;
		margin: 0;
	}
	.settings-content input[type="reset"] {
		margin: 15px 0;
		width: 100%;
	}
	.setting-container .filter-form ul li .select-container, .settings-content .time-zone .select-container{
		width: 100%;
		background-position: 94% 9px;
	}
	.setting-container .filter-form ul li select, .settings-content .time-zone .select-container select , .timezone_filter_content  {
		width: 100%;
		max-width: 100%;
	}
	.setting-container.time-zone label {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.setting-container.time-zone.filter-form ul li:first-child {
		width: 100%;
		float: left;
		margin: 0;
	}
	.report-header .inner-container {
		min-height: 49px;
		height: auto;
	}
	.report-header h2 {
		margin: 17px 0 0 12px;
	}
	
}
@media screen and (max-width: 586px) {
	.logo-container {
		width:63%;
	}
	.report-header h2 {
		font-size: 13px;
		width: 100%;
	}
	.report-header h6 {
		display: none;
	}
	.report-header h4 {
		margin: 6px 0 6px 11px;
	}
	.download, .retry, .report-timer  {
		position: absolute;
		top: 10px;
		right: 5px;
		margin: 4px 8px 10px 0;
	}
	.retry {
		right: 35px;
	}
	.report-timer  {
		right: 35px;
	}
	.browse-report-tab .reports-menu > ul > li {
		margin: 14px 1% 0 0;
		min-height: 10px;
	}
	.browse-report-tab .reports-menu > ul > li ul li {
		margin-left: 21px;
	}
	.widget-image {
		display: none;
	}
	.widget-contents {
		width: 100%;
		margin: 30px 0 30px 0;
	}
}
@media screen and (max-width: 480px) {
	.widget-container {
		width: 93%;
	}
	.message-close {
		right: 0;
	}
	.logo-container {
		width:60%;
	}
	.sub-header {
		height: 60px;
	}
}
@media screen and (max-width: 450px) {
	.logo-container {
		width:55%;
	 }
	.carousel {
		display: none;
	}
	.event-scheduler {
		width: 100%;
	}
}
@media screen and (max-width: 392px) {
	.logo-container {
		width:47%;
	}
	.message-tab {
		width: 100%;
		right: 0;
		min-width: 310px;
	}
	.browse-report-button {
		margin-right: 8px;
	}
}
@media screen and (max-width: 310px) {
	.mobile-filter-section button {
		width: 49%;
	}
}