body {
	font-family: 'Source Sans Pro', sans-serif;
}
body.login-page {
	background-image: url("../images/icons/ic_bg_img.png");
    background-position: center center;
    background-size: 100% auto;
}
.col-centered {
	margin: 0 auto;
	float: none;
}


header, section, footer {
	float: left;
	width: 100%;
}

/* ------ Header ----- */

.brand-logo {
	float: left;
	margin: 20px 0 20px 0;
}


/* ------ Login Container ----- */

.login-container {
	margin-top: 60px;
	margin-bottom: 60px;
	border: 1px solid #F0F0F0;
	float: left;
	background-color: #fff;
	box-shadow: 3px 4px 3px -4px #5a5a5a;
	width: 947px;
}
.carousel-indicators {
	position: absolute;
	width: 100px;
	margin-left: 0;
	bottom: 14px;
	left: 15px;
}
.carousel-caption {
	position: absolute;
	bottom: 7px;
	left: 45px;
}
.carousel-caption h3, .carousel-caption p {
	text-align: left;
	text-shadow: none;
	font-size: 30px;
	color: #ffffff;
}
.carousel-caption h3 {
	font-weight: 300;
	margin-bottom: -8px;
}
.carousel-caption p {
	font-weight: bold;
}
.social-login {
	height: auto;
	min-height: 100px;
	border-bottom: 1px solid #e1e9ee;
    float: left;
    margin-bottom: 35px;
    margin-left: 5%;
    padding: 10px 0 0;
    width: 87%;
}
.social-login h4 {
    color: #4a4a4a;
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
}
.social-login ul {
    margin: 0 auto;
    width: 252px;
}
.social-login ul li {
    float: left;
    list-style: outside none none;
    margin: 0 6px 4px;
}
.social-login ul li a {
    text-decoration: none;
}
.social-login ul li a img {
    height: auto;
    width: 32px;
}
.social-login p {
    float: left;
    margin-bottom: -10px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}
.social-login p span {
    background-color: white;
    padding: 4px;
	text-align: center;
}
.sign-in {
	width: 100%;
	float: left;
	height: auto;
}
.sign-in form div {
	position: relative;
}
.sign-in form div .error {
	position: absolute;
	bottom: -12px;
	left: 47px;
	color: #FC6C6C;
	display: none;
}
.sign-in .input-group {
	margin-top: 10px;
}
.sign-in input {
	background-repeat: no-repeat;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
    box-shadow: none;
    color: #555555;
    font-size: 14px;
    padding: 7px 0;
    text-indent: 30px;
	margin-bottom: 20px;
}
.sign-in input[type="text"] {
	border-bottom: 1px solid #e1e9ee !important;
	background-image: url("../images/icons/ic_email.png");
	background-position: left 10px;
    background-size: 20px auto;
	width: 95%;
}
.agency-logo {
	width: 91px;
	height: 40px;
	position: absolute;
	right: 19px;
	top: 0;
	display: none;
}
.agency-logo img {
	width: 100%;
	height: auto;
}
.sign-in input[type="password"] {
	border-bottom: 1px solid #e1e9ee !important;
	background-image: url("../images/icons/ic_password.png");
    background-position: left 5px;
    background-size: 16px auto;
	width: 95%;
}
.sign-in input[type="checkbox"] {
    line-height: normal;
    margin: 3px 2px 21px -15px;
}
.form-control:focus {
	border-color: none;
	box-shadow:  none;
}
.forgot-password {
	color: #555555;
	font-style: italic;
}
.forgot-password:hover {
	color: #555555;
	text-decoration: none;
}
.button-holder {
	float: left;
	width: 100%;
	padding: 0;
	margin-left: -15px;
	border-top: 1px solid #f0f0f0;
}
.sign-in .button-holder .custom-signin {
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding-bottom: 9px;
    padding-top: 14px;
    text-align: center;
    width: 50%;
    z-index: 11;
}
.sign-in .button-holder .custom-signin p {
    margin: 0;
    position: relative;
}
.sign-in .button-holder .custom-signin p .custom-arrow {
    background-image: url("../images/icons/ic_dropup.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 18px;
    position: absolute;
    right: 25%;
    transition: all 0.5s ease 0s;
    width: 13px;
}
.arrow-down {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


.sign-in .button-holder .login-button {
	width: 50%;
	float: left;
}
.sign-in .button-holder button {
    background-color: #fc6c6c;
    background-image: linear-gradient(to bottom, #fc6c6c, #fc6c6c);
    border-color: #fc6c6c;
    border-radius: 0;
	border: none;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 16px;
    text-shadow: none;
    text-transform: uppercase;
    width: 100.27%;
    z-index: 11;
}

.custom-drop {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    box-shadow: 3px 4px 3px -4px #5a5a5a;
    display: none;
    left: 0;
    position: absolute !important;
    top: 100%;
    width: 100%;
    z-index: 10;
}
.custom-drop p {
	text-align: center;
	margin-top: 10px;
}
.custom-drop .form-group {
    float: left;
    margin: 10px 2% 6px;
    width: 46%;
}
.custom-drop .form-group label {
    float: left;
    width: 35%;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.custom-drop .form-group select {
    width: 63%;
    background-color: white;
    border: 1px solid #cccccc;
    width: 106px;
	height: 27px;
}
.custom-drop .form-group select {
	line-height: 0;
	font-size: 12px;
}
/* ------ Login Container Ends Here ----- */






/* ------ Footer ------ */
footer .container {
	border-top: 1px solid #F0F0F0;
}
.powered-by-logo {
	float: left;
	margin: 20px 0 20px 0;
}
.powered-by-logo p {
	color: #555555;
	font-size: 14px;
	float: left;
	margin: auto 5px auto 0;
}
.footer-menu {
	float: right;
	margin: 20px 0 20px 0;
}
.footer-menu ul li {
	float: left;
	list-style: none;
	margin: 0 auto;
	border-right: 1px solid #555555;
}
.footer-menu ul li:last-child {
	border-right: none;
}
.footer-menu ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #555555;
	margin: 0 10px;
}


/* ------ Responsive ----- */

@media screen and (max-width: 1200px) {
	.col-md-10.col-centered {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.col-md-10.col-centered {
		width: 83.33%;
	}
	.login-container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		width: 86%;
		margin-left: 7%;
	}
	.sign-in .col-md-12 .col-sm-4 {
		margin-left: 7%;
	}
}

@media screen and (max-width: 620px) {
	.col-md-10.col-centered {
		width: 100%;
	}
	.brand-logo {
		float: none;
		margin: 20px auto;
		width: 102px;
	}
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		float: none;
		margin: 20px auto;
		width: 373px;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 450px) {
	.carousel {
		display: none;
	}
}
@media screen and (max-width: 389px) {
	.login-container {
		width: 360px;
	}
}