body{
	background-color: #ab9191;
}

fieldset{
		margin: 180px auto;
	}

	a {
		text-decoration: none;
	}

input{
		margin-bottom: 5px;
	}

	.ele{
		margin-left: 100px;
	}

	.ele1{
		margin-top: 10px;
	}