body{
	background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}
	
/*.header {
	position:absolute;
    left: 0;
    right: 0;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: 100%;
    border: 2px solid black;

}
*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: 100%;
    border: 2px solid black;
    position: absolute;
    width: 1333px;
}

.menu li {
    float: left;
}

.tab00 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15.5px 18.5px;
    text-decoration: none;
}

.tab00 a:hover {
    background-color: lightgray;
}


.tab11 a:hover {
    background-color: lightgray;
}

.tab11 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 21.5px 31.5px;
    text-decoration: none;
    margin-left: 40px;
    position: absolute;
    
}


.tab22 a:hover {
    background-color: lightgray;
}

.tab22 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 21.5px 22.5px;
    text-decoration: none;
    position: absolute;
    left: 275px;
}


.tab33 a:hover {
    background-color: lightgray;
}

.tab33 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 21.5px 22.5px;
    text-decoration: none;
    position: absolute;
    left: 365px;
}


.tab44 a:hover {
    background-color: lightgray;
}

.tab44 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 21.5px 22.5px;
    text-decoration: none;
    position: absolute;
    left: 435px;
}


.menu li a:hover {
    background-color: lightgray;
}


.menu ul li a p{
    font-size: 26px;
    margin: auto;
}

.menu ul li a p1{
    
    margin-top: 10px;
}

/*.header h1{
	text-align: left;
    margin: 12px;
   }   
*/

.sidebar li a:hover {
    background-color: lightgray;    

}


.sidebar li{
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
}

.sidebar {
	border: 2px solid black;
	background: url(bg.jpg) no-repeat center center fixed;
    background-size: 100%;  
    position:absolute;
    left:0; 
    top:72px; 
    margin-left: 8px;
    width: 148px;
    padding: 22px 10px 0px 10px;


}


nav {
    float: left;
    max-width: 160px;
    margin: 0;
}

.sidebar ul {
    float: left;
    max-width: 160px;
    margin: 0;  

    list-style-type: none;
    font-size: 23px;
    font-family: sans-serif; 
    text-align: center;
    padding: 15px;
}
   
.sidebar ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.highlight {
    background-color: cyan;
    font-weight: bold;
}

 #srch{
            float: right;
            margin-top: 10px;

       }


          .nr, .tab1a, .tab1aa, .tab2a, .tab2aa, .tab3a, .tab3aa, .tab4a, .tab4aa, .tab5a, .tab5aa, .tab6a, .tab6aa, .tab7a, .tab7aa, .tab8a, .tab8aa, .tab9a, .tab9aa, .tab10a, .tab10aa, .tab11a, .tab11aa, .tab12a, .tab12aa, .tab13a, .tab13aa, .toggle-vis {
            float: right;
            margin-top: 10px;
        }



        table{
            margin:10px auto;
            border-collapse: collapse;
            width: 80%;
        }

        td{
            text-align: left;
            padding: 3px;
            font-size: 17px;
            border-bottom: 1px solid gray;

        }


        th {
            text-align: left;
            padding: 5px;
            background-color: #3f3342;
            color: #f2f2f2;
            font-size: 19px;

        }

        h3{
            text-align: center;
            margin: 0px;
            font-size: 22px;
            font-family: sans-serif;
        }


       .header a {
    text-decoration: none;
    color: black;
}



.docs li {
  float: left;
  padding: 8px 5px 8px 15px;
}



.docs .active {
  color: #fbfbfb;
}

.docs1 .active1 {
  color: #fbfbfb;
}



/*simple clearfix for demo*/

.clearfix {
  overflow: hidden;
}

.clearfix1 {
  overflow: hidden;
}


/*hide inactive tab content by default*/

.content1, .content2, .content3, .content4, .content5, .content6, .content7, .content8, .content9, .content10, .content11, .content12, .content13, .content, .content1a, .content2a, .content3a, .content4a, .content5a, .content6a, .content7a, .content8a, .content9a, .content10a, .content11a, .content12a, .content13a {
    position: absolute;
    left:155px; 
    top:73px;
    right:0;
    bottom:0;
    padding: 15px
}



.content .img1{
    margin-left: 293px;
    margin-top: 20px;
    float: left;
}

.content .img2{
    margin-top: 20px;
    margin-left: 550px;

}

.content .img3{
    margin-left: 293px;
    margin-top: 20px;
    float: left;
  
}

.content .img4{
    margin-left: 550px;
    margin-top: 20px;
 
}

.content .img5{
    margin-left: 423px;
    margin-top: 20px;
}  

ul .submenu {
    display: none;
}
