body {
		background:url('http://i34.tinypic.com/m922bk.jpg') repeat center top #826e79;
  		color: #666666;
  		font-family: 'RobotoDraft', 'Roboto', sans-serif;
  		font-size: 14px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}

a {
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	color: grey;
}

h1.header {
	text-align: center;
	padding: 20px;
	font: sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	position: relative;
	max-width: 460px;
	width: 100%;
	margin: 0 auto 60px;
}

.card {
	position: relative;
	background: #e9e9e9;
	border-radius: 15px;
	padding: 60px 0 20px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.card .title {
	position: relative;
	z-index: 1;
	border-left: 5px solid #ed2553;
	margin: 0 0 35px;
	padding: 10px 0 10px 50px;
	color: #ed2553;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
}

.card .ic{
	position: relative;
	margin: 0 60px 50px;
}

.card .ic p {
    font-size: 16px; 
    font-weight: 500;
}

.card .ic input{
	outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 50px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
}

.card .ic label{
	position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}


.card .ic .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #757575;
	width: 100%;
	height: 1px;
}

.card .bc {
	margin: 0 60px;
	text-align: center;
}

.card .bc input {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 163px;
    border: 2px solid #ed2553;
    padding: 17px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: none;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #ed2553;
    border-radius: 10px;
}

.card .fp {
	margin: 22px 0 5px 0;
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover{
	color: #ed2553;
	font-weight: 550;
}