body {
		background:url('http://i34.tinypic.com/m922bk.jpg') repeat center top #826e79;
  		color: #666666;
  		font-family: 'RobotoDraft', 'Roboto', sans-serif;
  		font-size: 14px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}

h1.header {
	text-align: center;
	padding: 20px;
	font: sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	position: relative;
	max-width: 460px;
	width: 100%;
	margin: 0 auto 100px;
}

.card {
    position: relative;
    max-width: 470
}

.card {
	position: relative;
	background: #ed2553;
	border-radius: 15px;
	padding: 60px 0 40px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.card .title {
	position: relative;
	z-index: 1;
	border-left: 5px solid #ffffff;
	margin: 0 0 35px;
	padding: 10px 0 10px 50px;
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
}

.card .ic{
	position: relative;
	margin: 0 60px 50px;
}

.card .ic p {
    color: #ffffff;
    font-size: 16px; 
    font-weight: 500;
}

.card .ic input{
    size: a3;
    font-size-adjust: unset;
    color: currentColor;
    animation: steps();
    letter-spacing: initial;
    display: list-item;
    box-decoration-break: slice;
}

.card .ic input{
	outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 50px;
    border: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.card .ic label{
	position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.card .ic .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #ffffff;
	width: 100%;
	height: 1px;
    
}

.card .bc {
	margin: 0 60px;
	text-align: center;
}

.card .bc input {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #ffffff;
    width: 163px;
    border: 2px solid #ffffff;
    padding: 17px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: none;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #ed2553;
    border-radius: 10px;
}

.card .bc input {
    outline: a

    }