body {
	font-family: 'Source Sans Pro', sans-serif;
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}
body.login-page {
	background-image: url("../images/icons/ic_bg_img.png");
    background-position: center center;
    background-size: 100% auto;
}

full-width {

}
.col-centered {
	margin: 0 auto;
	float: none;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
header, section, footer {
	float: left;
	width: 100%;
}
.speach-arrow {
	background-image: url("../images/icons/ic_top_arrow.png");
	background-position: center center;
   background-repeat: no-repeat;
   background-size: auto auto;
   height: 21px;
   position: absolute;
   width: 30px;
}
/* ------ Header ----- */

.brand-logo {
	float: left;
	margin: 20px 0 20px 0;
}


/* ------ Login Container ----- */

.login-container {
	margin-top: 60px;
	margin-bottom: 60px;
	border: 1px solid #F0F0F0;
	float: left;
	background-color: #fff;
	box-shadow: 3px 4px 3px -4px #5a5a5a;
	width: 947px;
}
.carousel-indicators {
	position: absolute;
	width: 100px;
	margin-left: 0;
	bottom: 14px;
	left: 15px;
}
.carousel-caption {
	position: absolute;
	bottom: 7px;
	left: 45px;
}
.carousel-caption h3, .carousel-caption p {
	text-align: left;
	text-shadow: none;
	font-size: 30px;
	color: #ffffff;
}
.carousel-caption h3 {
	font-weight: 300;
	margin-bottom: -8px;
}
.carousel-caption p {
	font-weight: bold;
}
.social-login {
	height: auto;
	min-height: 100px;
	border-bottom: 1px solid #e1e9ee;
    float: left;
    margin-bottom: 35px;
    margin-left: 5%;
    padding: 10px 0 0;
    width: 87%;
}
.social-login h4 {
    color: #4a4a4a;
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
}
.social-login ul {
    margin: 0 auto;
    width: 252px;
}
.social-login ul li {
    float: left;
    list-style: outside none none;
    margin: 0 6px 4px;
}
.social-login ul li a {
    text-decoration: none;
}
.social-login ul li a img {
    height: auto;
    width: 32px;
}
.social-login p {
    float: left;
    margin-bottom: -10px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}
.social-login p span {
    background-color: white;
    padding: 4px;
	text-align: center;
}
.sign-in {
	width: 100%;
	float: left;
	height: auto;
}
.sign-in form div {
	position: relative;
}
.sign-in form div .error {
	position: absolute;
	bottom: -12px;
	left: 47px;
	color: #FC6C6C;
	display: none;
}
.sign-in .input-group {
	margin-top: 10px;
}
.sign-in input {
	background-repeat: no-repeat;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
    box-shadow: none;
    color: #555555;
    font-size: 14px;
    padding: 7px 0;
    text-indent: 30px;
	margin-bottom: 20px;
}
.sign-in input[type="text"] {
	border-bottom: 1px solid #e1e9ee !important;
	background-image: url("../images/icons/ic_email.png");
	background-position: left 10px;
    background-size: 20px auto;
	width: 95%;
}
.agency-logo {
	width: 91px;
	height: 40px;
	position: absolute;
	right: 19px;
	top: 0;
	display: none;
}
.agency-logo img {
	width: 100%;
	height: auto;
}
.sign-in input[type="password"] {
	border-bottom: 1px solid #e1e9ee !important;
	background-image: url("../images/icons/ic_password.png");
    background-position: left 5px;
    background-size: 16px auto;
	width: 95%;
}
.sign-in input[type="checkbox"] {
    line-height: normal;
    margin: 3px 2px 21px -15px;
}
.form-control:focus {
	border-color: none;
	box-shadow:  none;
}
.forgot-password {
	color: #555555;
	font-style: italic;
}
.forgot-password:hover {
	color: #555555;
	text-decoration: none;
}
.button-holder {
	float: left;
	width: 100%;
	padding: 0;
	margin-left: -15px;
	border-top: 1px solid #f0f0f0;
}
.sign-in .button-holder .custom-signin {
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding-bottom: 9px;
    padding-top: 14px;
    text-align: center;
    width: 50%;
    z-index: 11;
}
.sign-in .button-holder .custom-signin p {
    margin: 0;
    position: relative;
}
.sign-in .button-holder .custom-signin p .custom-arrow {
    background-image: url("../images/icons/ic_dropup.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 18px;
    position: absolute;
    right: 25%;
    transition: all 0.5s ease 0s;
    width: 13px;
}
.arrow-down {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


.sign-in .button-holder .login-button {
	width: 50%;
	float: left;
}
.sign-in .button-holder button {
    background-color: #fc6c6c;
    background-image: linear-gradient(to bottom, #fc6c6c, #fc6c6c);
    border-color: #fc6c6c;
    border-radius: 0;
	border: none;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 16px;
    text-shadow: none;
    text-transform: uppercase;
    width: 100.27%;
    z-index: 11;
}

.custom-drop {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    box-shadow: 3px 4px 3px -4px #5a5a5a;
    display: none;
    left: 0;
    position: absolute !important;
    top: 100%;
    width: 100%;
    z-index: 10;
}
.custom-drop p {
	text-align: center;
	margin-top: 10px;
}
.custom-drop .form-group {
    float: left;
    margin: 10px 2% 6px;
    width: 46%;
}
.custom-drop .form-group label {
    float: left;
    width: 35%;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.custom-drop .form-group select {
    width: 63%;
    background-color: white;
    border: 1px solid #cccccc;
    width: 106px;
	height: 27px;
}
.custom-drop .form-group select {
	line-height: 0;
	font-size: 12px;
}
/* ------ Login Container Ends Here ----- */


/* -------- Dashboard ------- */
.header, .section, .footer {
	margin: 0 auto;
	float: none;
	max-width: 1400px;
	min-width: 1024px;
	width: 100%;
}
.inner-container {
	width: 100%;
	float: left;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
	 z-index:99;
}
.browse-report-tab {
    background-color: #fff;
    display: none;
    height: 497px;
    left: 22px;
    padding: 0 0 20px;
    position: absolute;
    top: 0;
	 width: 1010px;
	 border-radius: 5px;
}
.browse-report-tab .search-bar {
    background-color: #E3E3E3;
    float: left;
    height: 82px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.browse-report-tab .search-bar form {
	padding: 10px;
}
.browse-report-tab .search-bar input {
    background-color: #fff;
    background-image: url("../images/icons/ic_search.png");
    background-position: 14px center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: 0 none;
    border-radius: 4px;
    margin: 15px 0 15px 31px;
    padding: 9px 0 8px 49px;
    width: 93.8%;
}
.browse-report-tab .speach-arrow {
   left: 34px;
   top: -17px;
}
.browse-report-tab .reports-menu {
   float: left;
   width: 100%;
	padding: 0 12px;
	height: 350px;
}
.browse-report-tab .reports-menu > ul {
   float: left;
   margin: 10px 0 10px 30px;
	width: 96%;
	padding: 0;
	
}
.browse-report-tab .reports-menu > ul >li {   
   margin: 22px 1.33% 0 0;
	width: 32%;
	float: left;
	list-style: none;
	min-height: 130px;
}
.browse-report-tab .reports-menu > ul > li span {
   float: left;
   height: 18px;
   width: 18px;
}
.browse-report-tab .reports-menu > ul > li p {
	float: left;
	color: #fc0016;
   font-size: 12.5px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 3px 0 4px 9px;
}
.browse-report-tab .reports-menu > ul > li p:after {
	clear: both;
}

.browse-report-tab .reports-menu > ul > li ul {
	padding: 0 0 0 20px;
	width: 100%;
	float: left;
}
.browse-report-tab .reports-menu > ul > li ul li {
   text-decoration: none;
	line-height: 27px;
	font-size: 12px;
	text-transform: none;
	font-weight: 300;
	list-style-type: disc;
	color: #83889E;
}
.browse-report-tab .reports-menu > ul > li ul li a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}
.reports-carousel {
	width: 100%;
	background-color: #E4E4E4;
	height: 65px;
	float: left;
	border-radius:  0 0 5px 5px;
}

/* Message tab */

.message-tab {
	position: absolute;
	width: 375px;
	height: auto;
	right: 100px;
	top: 0;
	background-color: #fff;
	display: none;
}
.message-header {
    background-color: #e4e4e4;
    float: left;
    height: auto;
    padding: 13px 10px 5px 19px;
    width: 100%;
}
.message-header p {
	color: #eb7470;
    float: left;
    font-weight: 600;
}
.message-header span {
	background-image: url("../images/icons/ic_clock_gray.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 17px;
    margin-right: 23px;
    width: 15px;
}
.message-body {
	width: 100%;
	float: left;
	height: auto;
	padding: 0 10px;
	overflow-y: auto;
	height: 350px;
}
.message-content {
	width: 100%;
	border-bottom: 1px solid #ccc;
	float: left;
}
.message-icon {
	width: 25%;
	float: left;
}
.message-icon img {
	 border-radius: 50%;
    float: left;
    height: 55px;
    margin-left: 10%;
    margin-top: 21%;
    width: 55px;
}
.message-subject {
	float: left;
	width: 75%;
}
.message-subject h3 {
	color: #555555;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 11px 0 0;
}
.message-subject span {
	font-weight: 400;
	font-size: 14px;
	color: #cccc;
	float: right;
	margin-top: 9px;
	margin-right: 10px;
	cursor: pointer;
}
.message-subject span:after {
	clear: both;
}
.message-subject p {
	color: #555555;
    float: left;
    font-size: 13px;
    line-height: 18px;
    margin-top: 6px;
    width: 100%;
	margin-bottom: 0px;
}
.message-subject h5 {
	color: #9a9a9a;
    float: left;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin: 4px 0;
}

.message-container {
	width: 884px;
	height: auto;
	margin: 38px auto;
	display: none;
	
}
.message-container .inner-container {
	float: left;
	width: 100%;
	height: 581px;
	background-color: #F9F9F9;
	border-radius: 3px;
	position: relative;
}
.message-tab .speach-arrow {
   right: 52px;
   top: -17px;
}

.message-close {
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    padding: 6px 0 0;
    position: absolute;
    right: -19px;
    text-align: center;
    top: -19px;
    width: 38px;
    cursor: pointer;
}
.message-head {
	width: 100%;
	float: left;
	background-color: #E3E3E3;
	border-radius:  3px 3px 0 0;
}
.message-head h1 {
	color: #fc0016;
	float: left;
	border-right: 1px solid #ccc;
	font-size: 14px;
	line-height: 42px;
	margin: 0 0 0 28px;
	padding: 4px 28px 3px 2px;
	height: 49px;
	font-weight: 600;
}
.message-head h1 span{
    background-image: url("../images/icons/ic_dropup.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    padding-left: 27px;
}
.message-head p {
	float: right;
	font-size: 12px;
	font-style: italic;
	margin-top: 12px;
	line-height: 21px;
	padding: 3px 16px;
	border-right: 1px solid #ccc;
	color: #666666;
}
.message-head p b {
	font-style: normal;
}
.message-head .archieve {
	float: right;
	color: #666666;
	 background-image: url("../images/icons/ic_archive.png");
    background-position: 10px 17px;
    background-repeat: no-repeat;
    margin-left: 4px;
    cursor: pointer;
}
.message-head .archieve h5 {
	color: #666666;
	font-size: 14px;
	text-indent: 30px;
	margin-top: 17px;
	text-indent: 41px;
	margin-right: 25px;
}
.message-box {
	width: 57%;
	float: left;
	margin-left: 10%;
	overflow-y: auto;
	height: 532px;
	padding-right: 3%;
}
.send-receive {
	margin: 30px 0 0;
	float: left;
}
.message-text {
	width: 87%;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px 15px;
	box-shadow: 0 3px 4px -4px #8a8a8a;
}
.message-text h1 {
	text-transform: uppercase;
	color: #555555;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 2px;
}
.message-text h1 span {
	font-weight: 300;
	font-style: italic;
}
.message-text p {
	font-size: 13px;
	line-height: 16px;
	color: #555555;
}
.message-text img {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.message-profile {
	width: 13%;
	padding: 0;
}
.message-profile img {
	border-radius: 50%;
   height: 44px;
   width: 44px;
   float: left;
}
.send .message-profile img {
	float: right;
}
.receive .message-profile img {
	float: left;
}
.message-profile p {
	width: 100%;
	float: left;
	font-size: 12px;
	color: #666666;
}
.send .message-profile p {
	text-align: right;
}
.receive .message-profile p {
	text-align: left;
}
.message-send {
	width: 33%;
	float: left;
	height: 532px;
	background-color: #fff;
}
.message-send-head {
	width: 100%;
	height: 50px;
	background-image: url("../images/icons/ic_reply.png");
   background-position: 15px center;
   background-repeat: no-repeat;
   border-bottom: 1px solid #ccc;
}
.message-send-head p {
	line-height: 41px;
	text-indent: 50px;
	color: #666666;
}
.message-send-body {
	width: 100%;
	float: left;
	height: auto;
}
.message-send-body img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin: 20px 0 13px 19px;
	float: left;
}
.message-send-body span {
	 background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 21px;
    margin-right: 16px;
    margin-top: 40px;
    width: 21px;
}
.message-send-body .msg-upload {
	background-image: url("../images/icons/ic_attached.png");
}
.message-send-body .msg-smiley {
	background-image: url("../images/icons/ic_sm.png");
	margin-right: 10px;
}
.message-send-body form {
	width: 100%;
	float: left;
	margin-top: 8px;
}
.message-send-body form textarea {
	border: 1px solid #ccc;
   border-radius: 3px;
   color: #666666;
   float: left;
   margin-left: 7%;
   padding: 12px 17px 3px;
   width: 86%;
}
.message-send-body form  input[type="checkbox"] {
	margin: 17px 4px 20px 19px;
	float: left;
}
.message-send-body form p {
	margin: 15px 0 0 6px;
	float: left;
}
.message-send-body form button {
	width: 100.05%;
	float: left;
	background-color: #00A8A5;
	border: none;
	padding: 9px 0;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	font-weight: 600;
	margin-top: 183px;
}
/* Message Container ends here */

/* Widget Container */
.widget-container {
	width: 90%;
	margin: 20px auto;
	height: auto;
	min-height: 200px;
}
.widget-container .inner-container {
	border-radius: 5px;
	float: left;
	height: auto;
	box-shadow: -1px 0 10px -4px #8a8a8a;
}
.widget-head {
    background-color: #666666;
}
.widget-head, .widget-body, .widget-footer {
    border-bottom: 1px solid #DFDFDF;
    float: left;
    width: 100%;
}
.widget-body {
	position: relative;
 	background-color: #E3E3E3;
 }
 .widget-inner {
 	position: relative;
 	width: 92%;
 	margin: 32px 4%;
 }
 .widget-overlay {
 	position: absolute;
 	bottom: 0;
	width:100%;
	height:80px;
	background-color:rgba(0,0,0,0.5); 
	border-radius: 0 0 5px 5px
 }
.widget-overlay a {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 47px 0 6px;
	text-decoration:none;
	cursor: pointer;
	background-image: url("../images/icons/ic_zoom.png");
   background-position: center 20px;
   background-repeat: no-repeat;
}
.widget-head {
	border-radius: 3px 3px 0 0;
}
.widget-footer {
	background-color: #ffffff;
	border-radius: 0 0 3px 3px;
	height: 47px;
}
.widget-footer ul {
	padding: 0 0 0 21px;
	margin: 0;
}
.widget-heading {
    background-image: url("../images/icons/ic_trends_gray.png");
    background-position: 19px center;
    background-repeat: no-repeat;
    border-right: 1px solid #9f9f9f;
    color: #fff;
    float: left;
    min-width: 131px;
    width: auto;
}
.widget-heading p {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    text-indent: 33px;
    text-transform: uppercase;
    margin: 15px 0;
}
.widget-breadcrumb {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    width: 30%;
    float: left;
}
.widget-breadcrumb p {
	margin-top: 15px;
	text-indent: 21px;
	color: #E3E3E3;
}
.widget-breadcrumb p span {
	text-transform: uppercase;
	font-weight: 600;
}
.widget-time {
    border-left: 1px solid #9f9f9f;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: 100;
    padding-left: 15px;
    margin-top: 13px;
}
.widget-time p {
	margin: 3px 20px 3px 0;
	font-style: italic;
	color: #E3E3E3;
	font-size: 12px;
}
.widget-time p b {
	font-style: normal;
}
.widget-body iframe {
    width: 100%;
    border: none;
}
.widget-footer ul li {
    float: left;
    padding: 13px 5px 13px 30px;
    list-style: none;
    font-size: 12.5px;
    color: #666666;
    background-repeat: no-repeat;
    background-position: 6px center;
    cursor: pointer;
}
.widget-footer ul li.tags {
	 background-image: url("../images/icons/ic_tagged.png");
}
.widget-footer ul li.comments {
	background-image: url("../images/icons/ic_comment.png");
}
.widget-footer ul li.bookmark {
	background-image: url("../images/icons/ic_bookmark.png");
}
.widget-footer p {
	float: right;
	margin:14px 29px;
	color: #00A09F;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.5px;
}

.widget-footer p span {
	color: #777777;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 0;
	font-weight: 400;
}


/* Widget Container Ends here*/
.header {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fafafa, #fafafa);
    box-shadow: 0 3px 4px -4px #8a8a8a;
    height: auto;
    min-height: 83px;
    width: 100%;
	position: relative;
	bottom: 5px;
}

.browse-report-button {
    background-color: #fc0016;
    background-image: url("../images/icons/ic_browsere.png");
    background-position: 11px 14px;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    display: block !important;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 24px auto 0 30px;
    padding: 10px 20px 10px 40px;
}

.header-right {
    float: right;
    margin-right: 20px;
    margin-top: 13px;
}
.header-right ul {
	padding: 0;
	margin: 0;
}
.header-right ul li {
	border-right: 1px solid #cdcdcd;
    cursor: pointer;
    float: right;
    list-style: outside none none;
    margin: 17px 8px 0;
    padding: 4px 14px 8px 0;
    position: relative;
}
.header-right ul li:first-child {
	border-right: medium none;
    margin-top: 8px;
    padding-right: 0;
}
.header-right ul li.name-label {
}



.header-right ul li.name-label p {
	float: left;
	margin-bottom:0;
}
.header-right ul li.name-label span{
    background-image: url("../images/icons/ic_dropup.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.header-right ul li.name-label .profile-tab {
	position: absolute;
	top: -2px;
	width: 130px;
	height: 131px;
	border: 1px solid #ccc;
	z-index: 999;
	background-color: #fff;
	left: -15px;
	display: none;
}
.header-right ul li.name-label .profile-tab h3 {
	border-bottom: 1px solid #ccc;
    color: #019c9e;
    float: left;
    font-size: 15px;
    font-weight: 400;
    margin: 7px 0 0;
    padding-bottom: 9px;
    text-indent: 14px;
    width: 100%;
}
.header-right ul li.name-label .profile-tab h3 span {
    background-image: url("../images/icons/ic_dropdowen.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.header-right ul li.name-label .profile-tab h3 a {
	color: #555555;
	font-size: 14px;
}
.header-right ul li.name-label .profile-tab h3 a:hover {
	text-decoration: none;
}
.header-right ul li.name-label .profile-tab h3:last-child {
	border-bottom: none;
}
.header-right ul li.message-notification {
}
.header-right ul li.message-notification span{
    background-color: #ebbe40;
    background-image: none;
    border: medium none;
    border-radius: 50%;
    display: block;
    line-height: 1.25em;
    margin: auto;
    padding: 1px 5px;
    position: absolute;
    right: 7px;
    top: -6px;
}
.header-right ul li.bookmark {
}
.sub-header { 
	float: left;
	position: relative;
	background-color: #ffffff;
	width: 100%;
	z-index: 92;
	box-shadow: 0 3px 4px -4px #8a8a8a;
	height: 71px;
}
.sub-header-fixed {
	position: fixed;
}
.sub-header .sub-brand-logo { float: left; width: 203px; padding: 0 22px 5px 32px; height: auto; margin-top:17px; border-right: 1px solid #E3E3E3 }
.sub-brand-logo .page-icon { float: left; margin: 4px 11px 5px 0; width: 21px;}
.sub-brand-logo .less-than { float: left; font-size: 19px; margin-top: 0; width: 7px; color: #69708C;}
.sub-brand-logo .brand-icon { float: left; margin: 4px 0 0 20px;}

.filter-form {
	width: 75%;
	float: right;;
	margin-right: 20px;
	margin-top: 21px;
}
.filter-form form {
	position: relative;
}
.filter-form ul {
	padding: 0;
	margin: 0;
}
.filter-form ul li {
	list-style: none;
	float: right;
	width: auto;
	margin: 0 10px 0 16px;
	color: #555;
}
.filter-form ul li label {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
	font-size: 13px;
	font-weight: 300;
	margin-left: -6px;
}

.select-container {
    background-image: url("../images/icons/ic_dropup.png");
    background-position: 58px 9px;
    background-repeat: no-repeat;
    background-size: 14px 7px;
    border: 1px solid #cecece;
    border-radius: 3px;
    float: left;
    height: 25px;
    overflow: hidden;
    padding: 0 26px 1px 1px;
    background-color: #fff;
    width: 80px;
}
.select-inner-container {
    float: left;
    height: 27px;
    margin: -2px;
    overflow: hidden;
    width: 59px;
}
.filter-form ul li select {
    background-color: white;
    border: 1px solid #cccccc;
    float: left;
    font-size: 12px;
    height: 26px;
    padding-left: 7px;
    width: 80px;
}
.filter-form ul li button {
	border: 1px solid #e3e3e3;
	background-color: #fff;
	padding: 3.5px 6px;
	margin: 0 -2px;
	border-radius: 2px;
	font-size: 12px;
	float: left;
	color: #555555;
}
.filter-form ul li button:hover {
	background-color: #fc0016;
	border: 1px solid #e3e3e3;
	color: #ffffff;
}
.filter-form ul li button.icon-calendar {
    background-image: url("../images/icons/ic_calendar.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    height: 26px;
    padding: 5px;
    width: 26px;
}
.filter-form ul li .more-icon {
	background-image: url('../images/icons/ic_more.png');
	background-position: center center;
	background-size: auto auto;
	background-repeat: no-repeat;
	float: left;
	margin-top: 4px;
	width: 15px;
	height: 19px;
	cursor: pointer;
}
.filter-form ul li:first-child {
	border-radius: 3px 0 0 3px;
}
.more-filters {
	background-color: #ffffff;
    height: auto;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 44px;
	display: none;
    width: 181px;
    box-shadow:-4px 4px 3px -5px #8a8a8a;
}
.filter-form .more-filters li {
	margin-top: 12px;
}
.filter-form .more-filters li:last-child {
	margin-bottom: 15px;
}
/* ----- Navigation ----- */
.navigation {
    position: fixed;
    width: 202.55px;
    background-color: #ffffff;
    border-right: 1px solid #e1e9ee;
    height: auto;
    min-height: 200px;
    overflow-y: auto;
    position: relative;
	float: left;
}
.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    background-color: #ffffff;
    border-bottom: 1px solid #e1e9ee;
    border-right: 5px solid #fff;
    color: #555555;
    cursor: pointer;
    font-weight: 400;
    line-height: 5.5;
    list-style: outside none none;
    text-indent: 30px;
}
.navigation ul .selected, .navigation ul li:hover {
    background-color: #f1f1f3;
    border-right: 5px solid #fb6c6c;
    color: #fb6c6c !important;
}
.navigation ul li a {
    color: inherit;
    display: block;
    text-transform: uppercase;
    width: 100%;
    background-position: 17px center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
	text-indent: 50px;
}
.navigation ul li a:hover {
	text-decoration: none;
}
.navigation ul li .msg-notify {
    background-color: #ebbe40;
    background-image: none;
    border: medium none;
    border-radius: 50%;
    display: block;
    line-height: 1.25em;
    padding: 1px 8px;
    position: absolute;
    right: 8%;
    text-indent: 0;
    top: 29px;
}
.navigation ul li .all-icon { background-image: url("../images/icons/Ic_all_gray.png"); }
.navigation ul li.selected .all-icon { background-image: url("../images/icons/Ic_all_gray.png"); }

.navigation ul li .trends-icon { background-image: url("../images/icons/ic_trends_gray.png"); }
.navigation ul li.selected .trends-icon { background-image: url("../images/icons/ic_trends_red.png"); }

.navigation ul li .leaderboard-icon { background-image: url("../images/icons/ic_leaderboard_gray.png"); }
.navigation ul li.selected .leaderboard-icon { background-image: url("../images/icons/ic_leaderboard_red.png"); }

.navigation ul li .reports-icon { background-image: url("../images/icons/ic_reports_gray.png"); }
.navigation ul li.selected .reports-icon { background-image: url("../images/icons/ic_reports_red.png"); }

.navigation ul li .newsfeed-icon { background-image: url("../images/icons/ic_news_gray.png"); }
.navigation ul li.selected .newsfeed-icon { background-image: url("../images/icons/ic_news_gray.png"); }

.navigation ul li .insights-icon { background-image: url("../images/icons/ic_red_gray.png"); }
.navigation ul li.selected .insights-icon { background-image: url("../images/icons/ic_red_gray.png"); }

.dash-contents {
	height: auto;
	min-height: 300px;
	position: relative;
	transition: all 0.5s ease 0s;
}
.contents-dash {
	width: 73%;
	min-height: 300px;
	height: auto;
}
.aside-dash {
	width: 27%;
	min-height: 300px;
	height: auto;
}


/* Recently Viewed Reports*/
.recent-reports {
	width: 100%;
	border: 1px solid #e3e3e5;
	float: left;
	margin-top: 0;
	color: #555555;
}
.recent-reports .recent-reports-head {
	border-bottom: 1px solid #e3e3e5;
	float: left;
	padding:  15px 0;
	width: 100%;
}
.recent-reports .recent-reports-head span {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
	background-image: url(../images/icons/ic_recently.png);
	float: left;
	height: 17px;
	margin: 0 9px 0 12px;
	padding: 0 18px 0 0;
	width: 17px;
}
.recent-reports .recent-reports-head h2 {
	font-size: 14px;
	color: #555555;
	font-weight: 600;
	float: left;
	text-transform: uppercase;
	margin:0 17px 0 5px;
}
.recent-reports-body ul {
	padding: 0;
	margin: 0 9%;
	width: 82%;
}
.recent-reports-body ul li {
	width:100%;
	float: left;
	list-style: none;
	border-bottom: 1px solid #e3e3e5;
	padding: 19px 0 22px;
}
.recent-reports-body ul li h2 {
	width: 70%;
	font-size: 11px;
	color: #FB6C6C;
	font-weight: 600;
	text-transform: uppercase;
	margin:0 0 9px;
	float: left;
}
.recent-reports-body ul li h6 {
	width: 30%;
	float: right;
	font-size: 12px;
	color: #cccccc;
	font-weight: 400;
	text-align: right;
	margin-top: 0;
	margin-bottom: 4px;
				}
.recent-reports-body ul li a {
	float: left;
	width: 100%;
	text-decoration: none;
}
.recent-reports-body ul li h3 {
	font-size: 13px;
	color: #555555;
	font-weight: 500;
	margin:0;
	width: 90%;
	float: left;
	line-height: 16px;
}
.recent-reports-body ul li span {
	background-image: url("../images/icons/ic_arrow.png");
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 11px;
    margin-top: 5px;
    width: 10%;
}
.recent-reports-body ul li:last-child {
	border: none;
}

/* Report inner Page */
.report-header .inner-container {
	background-color: #E3E3E3;
	height: 49px;
}
.report-header h2 {
	 float: left;
    font-size: 14.5px;
    font-weight: 600;
    margin: 17px 0 0 32px;
    text-transform: uppercase;
    color: #565656;
}
.report-header h5 {
	 float: left;
	 border-left: 1px solid #ccc;
    color: #656565;
    font-size: 12.5px;
    font-weight: 300;
    margin-left: 13px;
    margin-top: 14px;
    padding: 4px 0 4px 13px;
    text-transform: none;
}
.report-header h3 {
	background-position: 0 center;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #565656;
    float: right;
    font-size: 12px;
    margin: 15px 35px 10px 0;
    padding: 3px 0 3px 22px;
}
.report-header h3.download {
	background-image: url(../images/icons/ic_archive.png);
}
.report-header h3.bookmark {
	background-image: url(../images/icons/ic_bookmark.png);
}
/* Profile Container */

.profile-content, .settings-content {
	width: 83%;
	margin:20px 3% 0;
	height: auto;
	min-height: 100px;
}
.profile-content .inner-container, .settings-content .inner-container {
	background-color: #F1F1F3;
	margin-bottom: 20px;
	padding: 30px 5px 8px;
}
.profile-pic {
	width: 150px;
	height: 148px;
	margin: 0 auto;
	position: relative;
}#carousel {
position: relative;
width:100%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 80% !important;
height: 100px;
float: left;
}

#slides ul {
list-style: none;
width:100%;
height:100px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:100px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
width:10%;
float: left;
margin:0 auto;
display:block;
position:relative;
top:40px;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#555555;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 100px;
font-size:17px;
color:#555555;
}


.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
.upload-pic {
	width: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	text-indent: 41px;
	line-height: 39px;
	background-color: rgba(0,0,0,0.5);
	background-image: url("../images/icons/ic_camera.png");
	background-size: 14px 13px;
	background-position: 19px center;
   background-repeat: no-repeat;
   color: #fff;
}
.upload-pic a {
	color: inherit;
	text-decoration: none;
}
.profile-pic img {
	width: 100%;
	height: auto;
}
.profile-details h3 {
	width: 47%;
	margin-right: 3%;
	float: left;
	font-size: 14px;
	color: #545454;
	font-weight: 600;
	text-indent: 37px;
	border-bottom: 1px solid #E5E6EB;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 30px;
	background-position: 4px center;
   background-repeat: no-repeat;
   background-size: 22px 22px;
}
.profile-details .profile-name {
	background-image: url("../images/icons/ic_name.png");
	background-size: 16px 16px;
}
.profile-details .profile-email {
	background-image: url("../images/icons/ic_mail.png");
	background-size: 20px 16px;
}
.profile-details .profile-sex {
	background-image: url("../images/icons/ic_profile.png");
	background-size: 22px 22px;
}
.profile-details .profile-number {
	background-image: url("../images/icons/ic_phone.png");
	background-size: 16px 16px;
}
.profile-details .profile-date {
	background-image: url("../images/icons/calendar.png");
	background-size: 16px 14px;
}
.profile-details .profile-adress {
	background-image: url("../images/icons/ic_location.png");
	background-size: 11px 16px;
}
.profile-edit {
	background-image: url("../images/icons/ic_edit.png");
	background-position: 3px 2px;
    background-repeat: no-repeat;
    background-size: 13px 13px;
	float: right;
	width: 22px;
	height: 20px;
	margin-top: 8px;
}

/* Settings Container */

.settings-content .filter-form {
	width: 652px;
	margin: 0 auto;
	float: left;
}
.settings-content .setting-container {
	background-color: #f1f1f3;
	width: 697px;
	float: left;
	padding: 10px 15px;
	border-radius: 2px;
}
.settings-content {
	float: left;
}
.settings-content h1 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 16px;
	margin-top: 5px;
} 

.settings-content .inner-container {
	background-color:#fff;
	padding: 0 5px;
}
.settings-content label {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
	font-size: 13px !important;
	font-weight: 300;
}
.settings-content select {
    background-color: white;
    border: 1px solid #cccccc;
    float: left;
    font-size: 12px;
    height: 26px;
    padding-left: 7px;
    width: 80px;
}
.time-zone label {
	margin-left: 10px;
}
.settings-content .password-setting {
	padding: 0 15px
}
.password-setting input {
	width: 150px;
	height: 40px;
	border: none;
	background-color: transparent;
	font-size: 45px;
	border-right: 1px solid #ccc;	
	float: left;
	padding-bottom: 8px;
}
.password-setting p {
	font-size: 12px;
	color: #ccc;
	font-style: italic;
	width: 310px;
	float: left;
	margin-top: 10px;
	text-align: right;
}
.password-setting .profile-edit {
	height: 23px;
	width: 30px;
	border-left: 1px solid #ccc;
	background-position: 10px 3px;
}
/* ------ Footer ------ */

footer .container, .footer .inner-container {
	border-top: 1px solid #F0F0F0;
}
.footer .inner-container {
	padding: 0 44px;
}
.powered-by-logo {
	float: left;
	margin: 20px 0 20px 0;
}
.powered-by-logo p {
	color: #555555;
	font-size: 14px;
	float: left;
	margin: auto 5px auto 0;
}
.footer-menu {
	float: right;
	margin: 20px 0 20px 0;
}
.footer-menu ul li {
	float: left;
	list-style: none;
	margin: 0 auto;
	border-right: 1px solid #555555;
}
.footer-menu ul li:last-child {
	border-right: none;
}
.footer-menu ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #555555;
	margin: 0 10px;
}

#carousel {
position: relative;
width:100%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 80% !important;
height: 100px;
float: left;
}

#slides ul {
list-style: none;
width:100%;
height:100px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:100px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
width:10%;
float: left;
margin:0 auto;
display:block;
position:relative;
top:40px;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#555555;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 100px;
font-size:17px;
color:#555555;
}


.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
.sprite-image img {
  object-fit: none;
  object-position: 0 0;
  width: 100px;
  height: 100px;
}
.sprite-image img:hover {
  object-position: 0 -234px;
}



/* Animations */

/* Wayra */
.button--wayra {
	overflow: hidden;
	width: 245px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color: #3f51b5;
}
.button--wayra.button--inverted:hover {
	color: #3f51b5;
	border-color: #fff;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color: #3f51b5;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #fff;
}

/* ------ Responsive ----- */

@media screen and (max-width: 1200px) {
	.col-md-10.col-centered {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.col-md-10.col-centered {
		width: 83.33%;
	}
	.login-container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.sign-in input[type="text"], .sign-in input[type="password"] {
		width: 86%;
		margin-left: 7%;
	}
	.sign-in .col-md-12 .col-sm-4 {
		margin-left: 7%;
	}
}

@media screen and (max-width: 620px) {
	.col-md-10.col-centered {
		width: 100%;
	}
	.brand-logo {
		float: none;
		margin: 20px auto;
		width: 102px;
	}
	.powered-by-logo {
		float: none;
		margin: 20px auto;
		width: 122px;
	}
	footer {
		padding-bottom: 12px;
	}
	.footer-menu {
		float: none;
		margin: 20px auto;
		width: 373px;
	}
	.footer-menu ul {
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 450px) {
	.carousel {
		display: none;
	}
}
@media screen and (max-width: 389px) {
	.login-container {
		width: 360px;
	}
}